<HTML>
    <HEAD>
<style>

.size13
{
font-size:13px;
}
.size11
{
font-size:11px;
}
.size09
{
font-size:09px;
}
body {
    margin-left: 6%;
    font-family:Calibri;
    margin-top: 3%;
}
</style>
   </HEAD>
     <BODY>


        <p class="size13"><b>
	   Dear Applicant, </b></p>     
         <p class="size13">  We have received your application for HDBFS ZipLoan. We require further  analysis <br>
            for processing your application for HDBFS Ziploan of &#x20B9 $loanAmount</p>

	 <p class="size13">Our representative will get in touch to process your application within 2 working <br>
	   days. Please have all your documents ready. </p>  

         <p class="size13"> We look forward to a fruitful relationship with you.</p>

         <p class="size13"> <b> Regards, <br>
           HDB Financial Services Ltd.</b></p><br>
           <p class="size09">                       
           This is a system generated alert. We request you not to reply to this message. This e-mail is confidential and may<br>
           also be privileged. If you are not the intended recipient, please notify us immediately.You should not copy or use <br>
           it for any purpose, nor disclose its contents to any other person.  <br>
          
           For any queries, please write to us at <a href="">customer.support@hdbfs.com</a> or you can raise a service request from the app.
           <br>

	   Loan disbursement will be subject to the sole credit discretion of HDB Financial Services. <br>
	   Terms & Conditions apply.</p>

        
     
     </BODY>
  </HTML>