
<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        table.product-details td {
            border: 1px solid black !important;
            padding: 2px 10px;
        }
        .table-th-new {
            height: 70px;
            border: 1px solid black !important;
            /*border-collapse: collapse;*/
            font-size: 15px;
            padding-left: 10px;
        }
        .col1{

        }
        .col2{
        }
        .footerClass{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p {
            text-align: justify;
            text-justify: inter-word;
        }
        div{
            text-align: justify;
            text-justify: inter-word;
        }

    </style>
    <meta charset="utf-8">
</head>

<body>
<form style="margin:5px;padding:10px;">
    <div class="row col-md-12 footerClass" style="page-break-before: always;">
        <b><h2 class="text-center" style="text-align: center;padding-top:280px">LOAN-CUM-GUARANTEE AGREEMENT</h2></b>

        <div style="padding-top:40px">This Loan cum Guarantee Agreement (Agreement), is made and entered into at the place and date specified in Schedule I hereto, by and between:
            The person(s) named as the borrower(s) in Schedule I hereto (hereinafter referred to as the Borrower) of the FIRST PART
            AND</div>
        <div style="padding-bottom:10px">The person(s) named as the guarantor(s) in Schedule I hereto (hereinafter referred to as the Guarantor) of the SECOND PART.
            AND</div>
        <b>SMALL BUSINESS FINCREDIT INDIA PRIVATE LIMITED</b>, a company within the meaning of the Companies Act, 2013 and having its registered office at 1st Floor, 103, C&B Square, Sangam Complex, Andheri Kurla Road, Village Chakala, Andheri (East), Mumbai  400059 and acting for the purposes of these presents through its branch office, the details whereof are mentioned in Schedule I hereto (hereinafter referred to as the Lender which expression shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include its successors, transferees and assigns.)
        <div style="padding-top:10px"><b>
            THE BORROWER IS DESIROUS OF AVAILING OF A LOAN FACILITY AND THE BORROWER AND THE GUARANTOR HAVE REQUESTED THE LENDER TO EXTEND THE LOAN (AS HEREINAFTER DEFINED) TO THE BORROWER AND ACCORDINGLY, THE LENDER HAS CALLED UPON THE BORROWER AND THE GUARANTOR TO EXECUTE AN AGREEMENT BEING THESE PRESENTS WITH A VIEW TO RECORD THE VARIOUS TERMS, CONDITIONS AND STIPULATIONS APPLICABLE IN RESPECT OF THE LOAN AS WELL AS THE RESPECTIVE OBLIGATIONS OF THE PARTIES IN RESPECT THEREOF. NOW THIS AGREEMENT WITNESSETH AND IT IS HEREBY MUTUALLY AGREED AND DECLARED BY AND BETWEEN THE PARTIES HERETO AS UNDER:</b></div>
        <div style="padding-top:10px;"> <b>   1. DEFINITIONS AND INTERPRETATION</b></div>
        <div style="padding-top:10px;"><p>1.1. In these presents, unless there is anything in the subject or context inconsistent therewith, the capitalised terms listed below shall have the following meanings:
            Applicable Law shall mean and include all applicable statutes, enactments or acts of any legislative body in India, laws, ordinances, rules, byelaws, regulations, notifications, guidelines, policies, directions, directives and orders of any Governmental Authority and any modifications or reenactments thereof;
            Application Form shall mean, the form submitted by the Borrower and countersigned by the Guarantor to the Lender for applying and availing of this Loan for the Purpose;
            Encumbrance shall mean the creation of any charge, lien, security, quasi security, nondisposal arrangement, claim, option, negative lien power of sale in favour of a third party, retention of title, right of pre emption, right of first refusal, lockin of any nature including as may be stipulated by the Securities and Exchange Board of India, or other third party right or security interest or an agreement, arrangement or obligation to create; any of the foregoing, whether presently or in the future. The term Encumber or Encumbered shall be construed accordingly
            Final Settlement Date shall mean the date on which all the obligations of the Borrower and the Guarantor have been satisfied and discharged to the satisfaction of the Lender and the Lender has provided a writing to the Borrower and the Guarantor in relation to the same;
            Governmental Authority shall include the President of India, the Government of India, the Governor and the Government of any State in India, any Ministry or Department of the same, any municipal or local government authority in India, any authority or private body exercising powers conferred by Applicable Law in India and any court, tribunal or other judicial or quasijudicial body in India;
            Interest shall mean the interest which shall be payable by the Borrower to the Lender on the Loan Amount, the details of which are specified in Schedule I hereto, which Interest shall be paid by the Borrower, in accordance with Clause 3.5 below;
            Interest Rate shall mean the percentage rate per annum on the basis of which the Interest payable by the Borrower on the Loan Amount, shall be calculated, the details of which are more particularly provided for in Schedule I hereto, as the same may be revised from time to time in the manner set out in this Agreement;
            Loan shall mean the term loan facility, which has been granted by the Lender to the Borrower, in the manner and upon the terms and conditions specified in this Agreement;
            Loan Amount shall mean the principal amount of the Loan disbursed / to be disbursed by the Lender pursuant to the terms of this Agreement, which shall, subject to the terms and conditions set out in this Agreement, not exceed the Loan Limit;
            Loan Limit shall mean the maximum amount of the Loan which may be drawn down by the Borrower, which amount shall be as specified in Schedule I hereto;
            Outstanding Amounts shall mean the aggregate of the Loan Amount outstanding, Interest outstanding (if any), Additional Interest and other fees and charges which are payable by the Borrower and/or the Guarantor as provided for in this Agreement;
            Prepayment Charges shall mean the charges and fees which shall be payable by the Borrower, in the event that the Loan is prepaid, as provided for in Clause 5.1 below, which charges and fees shall be calculated in the manner provided therefore in Schedule I hereto;
            Purpose shall mean the end use for which the proceeds of the Loan are to be used by the Borrower, which shall be as set out in the Application Form submitted by the Borrower and the Guarantor;
            Repayment Schedule shall mean the repayment schedule which shall,set out the dates on which the Borrower is required to make payment of the principal amount of the Loan and the amounts which are required to be paid by the Borrower on such dates.The repayment schedule applicable to the Loan on the date of this Agreement and assuming Disbursement of the entire Loan is set out in Schedule I hereto.Term or Tenure shall mean the period commencing from the date of this Agreement and expiring on the Final Settlement Date of the Loan, which duration shall be specified in Schedule I hereto;</p></div>
        <div><p>1.2. In this Agreement, unless the context otherwise requires:
            <div>(a) the singular includes the plural and vice versa;</div>
            <div>(b) reference to any gender includes the other genders;</div>
            <div>(c) reference to statutes shall be construed as including all statutory provisions consolidating, amending, modifying, supplementing or replacing the statute referred to;</div>
            <div>(d) the terms include and including shall be deemed to include the words without limitation;</div>
            <div>(e) section headings herein are for ease of reference only and are not intended to be part of or to affect the meaning, interpretation or construction of any of the terms and conditions of this Agreement;</div>
            <div>(f) the Lender shall have full power to determine all questions and doubts arising in relation to any of the provisions of these presents (including in relation to the occurrence or non occurrence of an event) and the materiality of any matter including the materiality of any event, occurrence, circumstance, change, fact, information, document, authorisation, proceeding, act, omission, claims, breach, default or otherwise, and every such determination and the opinion of the Lender shall be final and binding on the Borrower and the Guarantor;</div>
            <div>(g) whenever any payment to be made or action to be taken under this Agreement is required to be made or taken on a day other than any day of the week excluding Saturdays, Sundays and any day which is a public holiday for the purpose of Section 25 of the Negotiable Instruments Act, 1881 on which banks are open for general banking business in Mumbai  (Business Day), such payment shall be made or action taken on the Business Day immediately preceding such day;</div>
            <div>(h) The expression Borrower and Guarantor shall, unless it be repugnant to the subject or context thereof, be deemed to mean and include:
                (i) in the event that the Borrower and/or the Guarantor is a partnership firm for the purposes of the Indian Partnership Act, 1932, its partners for the time being and from time to time and their respective heirs, executors and administrators;
                (ii) in the event that the Borrower and/or the Guarantor is a sole proprietorship, its sole proprietor and his/ her heirs, administrators and executors;
                (iii) in the event that the Borrower and/or the Guarantor is a joint Hindu Undivided Family (HUF), its Karta and any or each of the adult members of the HUF and their survivor(s) and his / her / their respective heirs, executors and administrators;
                (iv) in the event that the Borrower and/or the Guarantor is a society, its members of the governing body of the society and any new members elected, appointed or co opted thereon;
                (v) in the event that the Borrower and/or the Guarantor is an individual, his/her heirs, administrators and executors.
                (vi) in case of more than one person has been mentioned as the Borrower and/or the Guarantor in Schedule I hereto, all references to the term Borrower and Guarantor (as applicable) shall be deemed to be as if it were plural and this document shall be read accordingly as if made and liabilities undertaken by each of them jointly and severally;</div></p></div>
        <div style="padding-bottom:10px;"><b>2. GRANT OF THE LOAN</b></div>
        <div><p>2.1. Pursuant to the request made by the Borrower and the Guarantor in terms of the Application Form, the Lender has sanctioned the Loan to the Borrower, subject to and upon the terms and conditions contained in this Agreement.The Lender may disburse the Loan or any part thereof (Disbursement)at its own discretion upon receipt of a request from the Borrower and upon fulfilment of the conditions precedent as communicated to the Borrower and Guarantor (which conditions precedent shall include in any event obligations of the Borrower and the Guarantor to provide documents and information as required under the extant regulations of the RBI (including without limitation regulations of the RBI which deal with know your customer obligations). The Borrower hereby further agrees and acknowledges that the Lender may, in its sole discretion, by issuance of a notice, in writing (which shall include a notice sent by way of email communication), reduce the Loan Limit available to the Borrower, amend, modify and supplement the terms and conditions applicable to the Loan, at any time during the tenor of the Loan..</p></div>
        <div><p>2.2. Notwithstanding anything contained herein, the Lender may at its sole discretion
            <div>(a) suspend or cancel the Loan, at any time during the tenor of the Loan, and after such suspension/ cancellation, the Borrower shall have no further rights to request a drawdown of the Loan, and/or</div><div> (b) the Borrower may in its sole discretion accelerate the repayment of the Loan and upon such acceleration, the Borrower shall be required to repay to the Lender the entire Outstanding Amounts, within 2 (Two) Business Days or such other time period as may be provided by the Lender.The Borrower shall use the Loan only for the Purpose. Without prejudice to the foregoing, the Borrower shall not utilise the Loan for any investment in the capital market, any speculative or illegal or anti social purpose or any other purpose
                <div style="padding-top: 15px">which is inconsistent with or contrary to Applicable Law or the extant regulations of the Reserve Bank of India applicable to grant of loans and advances by non banking financial companies.</div></div></p></div>
        <div style="padding-bottom:10px;"><b>    3. PAYMENT OF INTEREST AND REPAYMENT OF LOAN</b></div>
        <div><p>        3.1. The Borrower agrees, undertakes and covenants that the Borrower shall repay the Loan Amount, by making payment of the principal amount of the Loan, in monthly instalments, in the instalments and on the dates as set out in the Repayment Schedule. The Borrower and the Guarantor hereby agree and acknowledge that the Lender shall be entitled to modify and revise the Repayment Schedule, in such manner as the Lender may, in its sole discretion deem fit, by the provision of a notice, in writing (which shall include a notice sent by way of e mail communication) and the Repayment Schedule applicable to the Loan shall stand modified and amended from the date of such notice being issued by the Lender.</p>
        </div>
        <div><p>3.2. The Borrower shall, as a condition precedent to the Disbursement of the Loan provide to the Lender, an undated cheque towards discharge of the Outstanding Amounts (Undated Cheque) or electronic clearing services mandates for making payment of the Outstanding Amounts on the applicable due dates as set out hereunder, in such form and manner and of such amount as the Lender may require (ECS Mandates), as the Lender may require. In the event that the Lender requires the submission of Undated Cheques, the Borrower agrees and acknowledges that, the Undated Cheque will not bear a date or an amount because
            <div>(a) the date(s) on which Outstanding Amounts in respect of the Loan would be payable; and </div>
            <div>(b) the actual amount which shall comprise the Outstanding Amounts on such date, would not be known to the Parties at the time when the Undated Cheque is required to be submitted by the Borrower to the Lender. The Borrower hereby authorises the Lender to complete the Undated Cheque by filling in the date and the amount for discharge of the Outstanding Amounts on the date when they become due and payable under the terms hereof.</div></p></div>
        <div><p>       3.3. The Borrower hereby irrevocably and unconditionally undertakes that the Borrower shall not issue instructions for the Lender not to encash the Undated Cheque and shall not issue any instruction to stop payment in respect of the Undated Cheque or the ECS Mandates to the relevant bank or institution. If the Borrower does issue any such instructions, the same shall be considered null and void and such act shall be construed as breach of this Agreement. In the event of any dishonour of Undated Cheque or the ECS Mandates, without prejudice to the other rights of the Lender, the Borrower shall be liable to make payment of the charges specified in Schedule I hereto. It is however clarified, that the mere hand over of the Undated Cheque and/or the ECS Mandates will not discharge the Borrower from its primary obligation of ensuring that the principal amounts due to the Lender, in relation to the Loan are paid to the Lender. The Borrower shall also be entitled to make payments of the amount due to the Lender on the Maturity Date in the form of cash or pay orders/ demand drafts, provided that payments in cash may be made subject to compliance with the requirements (including without limitation the submission of any forms and documents), if any, imposed by the Lender in this regard. </p></div>
        <div><p>3.4 In the event that the Outstanding Amounts in relation to the Loan (or any part thereof) have not already been discharged by the Borrower on the same becoming due and payable in terms hereof, the Lender shall be entitled to encash or require the transfer of the amounts due to the Lender under this Agreement, by utilising the Undated Cheque or the ECS Mandates which is required to be deposited by the Borrower, without any requirement of intimating or sending a notice to the Borrower of the encashing of the Undated Cheque or the ECS Mandates. The Borrower hereby agrees and undertakes that the Borrower shall ensure that adequate sums are present in the bank account of the Borrower which is linked to the Undated Cheque provided by the Borrower to the Lender or the bank account in respect of which the ECS Mandate is drawn to enable the Lender to encash the Undated Cheque/ECS Mandate for receipt of the payments due from the Borrower on the Maturity Date.</p></div>
        <div><p> 3.5. The Borrower agrees, undertakes and covenants that until the date of the repayment of the entire Outstanding Amounts, the Borrower shall pay Interest on the Loan Amount, at the Interest rate specified in Schedule I hereto, on a monthly basis.</p></div>
        <div><p> 3.6. The Borrower and the Guarantor hereby further agree and acknowledge, that the Lender shall be entitled, in its sole discretion, to vary or modify the Interest applicable to the Loan, from time to time, by the provision of a notice, in writing (which shall include a notice sent by way of email communication), including without limitation, in the event of any changes being made to the extant regulations of the Reserve Bank of India (RBI). Such revised rate of interest shall be applicable for prospective period from the date of such a specification by the Lender and in such an event, interest would be payable by the Borrower at the revised rate of interest. The Borrower and the Guarantor shall keep itself advised of the variations from time to time. The rate of interest payable by the Borrower and the Guarantor to the Lender under the Facility shall be calculated on a daily basis on the basis of the actual amounts outstanding and payable on the 1st day of each month for the Disbursement made in the preceding month. </p></div>
        <div><p>3.7. The Borrower agrees and acknowledges that all taxes and charges that may be levied in connection with the Loan on the Lender shall be payable by the Borrower and the Lender shall be entitled to increase the Outstanding Amounts which are required to be paid by the Borrower, under this Agreement, by any incremental taxes, whether by way of Service Tax, Goods and Services Tax (GST) or any other taxes, hereafter levied on this transaction with retrospective or prospective effect.</p></div>
        <div><p>3.8. Each of the Borrower and the Guarantor hereby agree and acknowledge that the Borrower and the Guarantor shall not be entitled to any set off, withholding or deduction of any amount from the payment due to the Lender under this Agreement, provided that in the event that any tax deduction at source is required to be made to the payments made to the Lender in respect of the Loan under Applicable Law, the Borrower and the Guarantor shall be entitled to make such deductions from the payments to be made to the Lender, so long as certificates and writings (as required by the Lender) are provided to the Lender on the same date as the date of such payment evidencing the payment of such taxdeducted at source to the relevant Governmental Authority. However, in the event that such certificates and evidences are not provided to the Lender, on the same date as the date of the relevant payment, the amounts payable to the Lender would be increased to the extent required to ensure that the amount received by the Lender after such deduction is equal to the amount which would have been payable in the absence of such deduction.</p></div>
        <div><p> 3.9. The Borrower agrees to make payment to the Lender, of interest at the rate specified as the Additional Interest in Schedule I hereto (Additional Interest), on the occurrence of any of the following events and on the following terms and conditions:
            <div>(a) In the event that the Outstanding Amounts in relation to the Loan (or any portion thereof), are not discharged on the relevant due date thereof, Additional Interest shall be payable by the Borrower on the Outstanding Amounts, for the period commencing from such due date until the Outstanding Amounts in relation to the Loan are not discharged;</div>
            <div>(b) In the event of the occurrence of an Event of Default, Additional Interest shall be payable by the Borrower on the entire Outstanding Amounts, for the period commencing on the date of the occurrence of the relevant Event of Default and expiring on the date on which the Outstanding Amounts in relation to the Loan are completely repaid to the Lender;
                Provided that nothing contained in this Clause 3.9, shall affect or prejudice the right of the Lender to declare an Event of Default and exercise the rights vested in it under Clause 8.2 of this Agreement. </div></p></div>
        <div><p> 3.10. Without prejudice to the obligation of the Borrower to make payment of the Interest and the principal amount of the Loan as set out above, the Borrower and the Guarantor agree to also make upfront payment of non refundable processing fee and service fees to the Lender as set out in Schedule I hereto.</p></div>
        <div><p>3.11. Any payment made by the Borrower and/or the Guarantor shall be deemed to have been made only at the point of time the sum is credited and realised fully in the Lenders account irrespective of the date of instrument or time of receipt or presentation of instrument or the date of initiation of transfer. </p></div>
        <div style="padding-bottom:10px;"><b>4. GUARANTEE</b></div>
        <div><p>4.1. In consideration of the Lender agreeing to grant to the Borrower, the Loan, the Guarantor hereby irrevocably and unconditionally guarantees, as primary obligor and not merely as surety, the due discharge by the Borrower of all its obligations as set out in this Agreement, including without limitation, the obligations of the Borrower to make payment of the Outstanding Amounts, in the manner and upon the terms and conditions set out hereunder.</p></div>
        <div><p>4.2. The Guarantor hereby irrevocably and unconditionally agrees and undertakes that the Guarantor shall, forthwith, on demand, in writing being made by the Lender (Demand Notice) and without any demur, delay, protest, objection, contention or dispute and without making any reference to the Borrower, make payment of all amounts which are set out in the Demand Notice, forthwith upon receipt of the Demand Notice and in any event within 2 (Two) Business Days of the date of receipt thereof.</p></div>
        <div><p>4.3. A demand in writing from the Lender shall be a conclusive evidence and proof of the amount set out therein being due and payable in terms of this Clause
            4. The Guarantor agrees and acknowledges that the Guarantor shall be required to make payment in terms of this Clause 4 on receipt of the Demand Notice, within the aforesaid time period, notwithstanding any difference or any dispute between the Borrower, the Lender, the Guarantor or any other person or any other legal proceedings, pending before any court, tribunal, arbitrator or any other authority.</p></div>
        <div><p>4.4. Notwithstanding any of the other rights of the Lender under this Agreement, the Lender shall have full liberty to call upon the Guarantor and to make a demand on the Guarantor in terms of this Clause 4, without having to realise from the Borrower the amounts due, or take any action against the Borrower, or having to enforce any other remedies or securities, or to proceed against or enforce any other rights, security interests, claim or payment from any other person, or obtain any judgment against the Borrower and/or the Guarantor in any court or other tribunal, or make or file any claim in the bankruptcy or liquidation or insolvency of the Borrower and/or the Guarantor.</p></div>
        <div><p>4.5. The Guarantor hereby agrees that the rights of the Lender under this Clause 4 shall remain in full force and effect and the Guarantors obligations under this Agreement shall be primary, absolute, continuing, irrevocable and unconditional and shall not be discharged, released or impaired or otherwise affected by any of the following events or circumstances (regardless of any notice to the Guarantor or the Guarantors consent):
            <div>(a) any time, forbearance or other indulgence given or granted by the Lender to the Borrower or the Guarantor in respect of any of their respective obligations including the obligations undertaken under this Agreement, or other related documents, as the case may be;</div>
            <div>(b) any invalidity, irregularity, unenforceability, imperfection or any defect in this Agreement and/or any other related documents;</div>
            <div>(c)the previous invocation of the guarantee provided in terms of this     Clause 4 in respect of any Outstanding Amount ;</div>
            <div>(d) any extension, renewal, rescheduling, amendment, change, waiver or other modification of this Agreement or other related documents or any of the terms applicable to the Loan;</div>
            <div>(e) the liquidation, winding up, insolvency, bankruptcy or dissolution (or initiation of any proceedings analogous thereto) or the appointment of a receiver or administrative receiver or administrator or trustee or similar officer of any of the assets of the Borrower and/or the Guarantor (as applicable), or any change in the constitution or ownership of the Borrower or the occurrence of any circumstances whatsoever affecting the Borrowers liability to discharge the Outstanding Amounts;</div>
            <div>(f) any legal limitation, disability or incapacity relating to the Borrower or the Guarantor;</div>
            <div>(g) in the event that the Borrower is or are an unincorporated body, partnership, trust (acting through a trustee) any change in the constitution of the Borrower or the death, insanity, incapability, retirement or resignation of any of the members (including partners, beneficiaries or trustees);</div>
            <div>(h) impossibility or illegality of performance on the part of the Borrower, of any of its obligations under or in connection with the Loan;
                (i) any other action or circumstances which might otherwise constitute a legal or equitable discharge or defense of a surety or guarantor.</div></p></div>
        <div><p>4.6. Until the Final Settlement Date), the Guarantor shall not be entitled to and shall not exercise any rights which the Guarantor may have by reason of performance of its obligations:
            <div>(a) to be indemnified by the Borrower;</div>
            <div>(b) to claim any contribution from any of the other guarantors or providers of security for the obligations of the Borrower; and/or</div>
            <div>(c) to take the benefit (in whole or in part and whether by way of subrogation or otherwise) of any rights of the Lender or of contribution or any other rights of a surety or enforce any security or other right or claim against the Borrower.</div></p></div>
        <div><p>4.7. The Guarantor agrees and confirms that any balance confirmation, admission or acknowledgement made in writing by the Borrower or any person on behalf of the Borrower of the amount of the indebtedness of the Borrower, or otherwise in relation to the subject matter of this Deed, or any promise or part payment made by the Borrower shall also be deemed to have been given by the Borrower as an authorised agent of the Guarantor and shall accordingly be binding and conclusive on the Guarantor.</p></div>
        <div><p>4.8. The right of the Lender to release, discharge, compound with or otherwise vary or agree to vary any of the terms and conditions applicable to the Loan and the terms and conditions of this Agreement or other relevant documents executed by the Borrower, including variation in Interest Rate and/or the Repayment Schedule shall in no way or manner prejudice or in any way affect the Guarantor’s obligations as set out in this Clause 4 and elsewhere in this Agreement and the Guarantor hereby provides its upfront consent for any such variation which may be made by the Lender.</p></div>
        <div><p>4.9. The Guarantor hereby waives all the rights available to the Guarantor under Sections 133, 134, 135, 139 and 141 of the Indian Contract Act, 1872 and shall not be entitled to the benefit of subrogation to the rights of the Lender until the Final Settlement Date.</p></div>
        <div style="padding-bottom:10px;"><b>5. PREPAYMENT</b></div>
        <div><p>5.1. The Borrower shall be entitled to prepay the Loan (or any portion thereof), only upon satisfaction of the following conditions:
            <div>(a) After the provision of a notice, in writing to the Lender atleast 15 (Fifteen) Business Days prior to the date of prepayment requesting the Lender to consent to such prepayment and after receipt of such consent, in writing from the Lender;</div>
            <div>(b) after expiry of 6 (Six) months from the first Disbursement date;</div>
            <div>(c) after making payment of the Prepayment Charges (together with all applicable taxes which may be payable thereon) as set out in Schedule I hereto; and</div>
            <div>(d) satisfaction of such other conditions as the Lender may specify in relation to such prepayment.</div></p></div>
        <div style="padding-bottom:10px;"><b>6. REPRESENTATIONS AND WARRANTIES OF THE BORROWER AND GUARANTOR:</b><div>
            <div><p><b>GUARANTOR:</b>
                The representations and warranties set out in this Clause 6, shall be made on the date of this Agreement and shall be deemed to have repeated by each of the Borrower and the Guarantor on every day from the date of this Agreement until the Final Settlement Date:</p></div>
            <div><p>6.1. Status:
                The Borrower and Guarantor represents and warrants that:
                <div>(a) (in the event that the Borrower and/or the Guarantor is a natural person) the Borrower and/or the Guarantor (as applicable) is a major and is of sound mind;</div>
                <div>(b) (in the event that the Borrower the Borrower and/or the Guarantor is an not an individual) the Borrower and/or the Guarantor (as applicable)is duly incorporated and validly existing under Applicable Law;and is competent to contract and enter into and perform his/her/its obligations under this Agreement.</div></p></div>
            <div><p>6.2. Power and Authority:
                The Borrower and the Guarantor represents and warrants that the person(s) executing this Agreement and all other documents on behalf of the Borrower and the Guarantor, is/are entitled to do so and has/have been duly authorised to sign this Agreement and all other documents and writings. The Borrower and the Guarantor further represent and warrant that all consents required by the Borrower and/or the Guarantor for the execution and performance of this Agreement have been duly obtained.</p></div>
            <div><p>6.3. Binding obligations:
                The Borrower and the Guarantor represent and warrant that the obligations to be assumed by the Borrower and/or the Guarantor in relation to this Agreement and each of the other agreements and documents executed in connection with the Loan, to which it is a Party are its binding obligations.</p></div>
            <div><p>6.4. Litigation
                The Borrower and the Guarantor represent and warrant that there is no action, or proceedings against the Borrower and/or the Guarantor pending before any Governmental Authority, which might affect its ability to perform its obligation hereunder. Without prejudice to the generality of the foregoing, the Borrower and the Guarantor hereby represent and warrant that no proceedings have been initiated or are threatened to be initiated against the Borrower and/or the Guarantor under the Insolvency and Bankruptcy Code, 2016.</p></div>
            <div><p>6.5. Compliance with Applicable Law
                The Borrower and the Guarantor represent and warrant that each of the Borrower and the Guarantor are in full compliance with Applicable Law.</p></div>
            <div><p>6.6. No misleading information:
                The Borrower and the Guarantor represent and warrant that the information furnished by each of the Borrower and the Guarantor for availing of the Loan is, and shall be, true, complete and correct and shall not be misleading.</p></div>
            <div><p>6.7. Non Conflict with other obligations:
                The Borrower and the Guarantor represents and warrants that the entry into, delivery and performance by the Borrower and the Guarantor of this Agreement and the transactions contemplated by this Agreement do not and will not conflict (a) with, any Applicable Law; (b) with the incorporation documents, if any, of the Borrower and/or the Guarantor; or (c) with any document which is binding upon the Borrower and/or the Guarantor or on any of their respective assets.</p></div>
            <div style="padding-bottom:10px;"><b>7. COVENANTS OF THE BORROWER AND THE GUARANTOR:</b></div>
            <div><p>7.1. Affirmative Covenants:
                Each of the Borrower and the Guarantor hereby expressly covenant that
                <div>(a) the terms and conditions mentioned in this Agreement shall be its binding obligations and agree and covenant to abide by the said terms and conditions.</div>
                <div>(b) it shall maintain proper and adequate books and records to correctly and completely reflect their financial position and scope of operations and that it shall not change their accounting systems without notice to the Lender and shall permit any officer / authorised representative of the Lender and/or concurrent / statutory auditors and/or officials from
                    <div style="padding-top: 15px">the RBI to inspect their books of account and to enter into their offices or other places where such books of account are kept for the purposes of such inspection during the term of this Agreement.</div></div>
                <div>(c) it shall allow any officer / authorised representative of the Lender and/or, concurrent / statutory auditors and/or officials of the RBI to visit and inspect from time to time the properties.</div>
                <div>(d) all statements and documents provided by the Lender in relation to the Loan account of the Borrower and the computation of the Loan Amount, the Interest, Additional Interest, charges and any other payments due under this Agreement shall be final and binding on the Borrower and the Guarantor and the Borrower and the Guarantor shall not be entitled to contest or dispute any statement so provided by the Lender under the terms of this Agreement which shall form conclusive evidence of the same as between the Borrower, the Guarantor and the Lender.</div>
                <div>(e) its consent is hereby granted to receive telephone calls, text messages, emails, letters or all other forms of communications from the Lender and/or its officers, agents or sub contractors, informing them about the prevailing Interest Rate, and the Outstanding Balance under the Agreement. It is hereby clarified that the Lender is not obliged to provide any communication under this sub clause and the Lender may provide or chose not to provide the same in its sole discretion. Additionally, the obligation of the Borrower and the Guarantor, to make payments of the amounts due as provided for in this Agreement, is independent and unconditional and shall not be affected by the provision or non provision of any communication by the Lender pursuant to this Clause 7. </div> </p></div>
            <div><p>7.2. Negative Covenants: Each of the Borrower and the Guarantor covenant and agree that during the term of this Agreement, save with the prior written consent of the Lender,
                <div>(a) (in the event that the Borrower and/or the Guarantor is not an individual) it shall not change its capital structure in any manner.</div>
                <div>(b) (in the event that the Borrower and/or the Guarantor is not an individual) it shall not permit any change in the ownership or control of itself whereby its effective beneficial ownership or control shall change and it shall not affect any material change in its management of their business.</div>
                <div>(c) it shall not create, assume or incur any further indebtedness, whether in respect of money borrowed or otherwise.</div>
                <div>.(d) it shall not sell, lease, surrender or otherwise Encumber its assets or any part thereof or permit to exist any charge, Encumbrance or lien of any kind whatsoever over its assets.</div>
                <div>(e) (in the event that the Borrower and/or the Guarantor is not an individual) it shall not invest by way of share capital in or lend or advance funds to or place deposits with any other concern (including group companies).</div>
                <div>(f) it shall not undertake any guarantee obligation on behalf of any other person.</div>
                <div>(g) (in the event that the Borrower and/or the Guarantor is an individual)he shall not leave India for employment or business or for long term stay outside India without fully repaying the Outstanding Amounts except that they may leave India for the purpose of short visits/trips not exceeding a period of 60 (Sixty) days at any given point of time, provided that such trip/ visit does not result in a change in the residential or citizenship status of the Borrower and/or the Guarantor under Applicable Law.</div>
                <div>(h) (If the Borrower and/or the Guarantor is a partnership firm) it shall not initiate any proceedings for dissolution of the firm or admit any new partners to the partnership.</div>
                <div>(i) it shall not (i) default in payment of any sum to any person; (ii) breach any agreement with any person who has provided any loan, deposit, advance, guarantee or other financial facility to them or at their instance.</div> </p></div>
            <div><p>7.3. Information Covenants:
                Each of the Borrower and the Guarantor agrees that
                <div>(a) it shall keep the Lender informed of the happening of any event likely to have substantial effect on profit or business.</div>
                <div>(b) it shall forthwith inform the Lender (i) if any representation or warranty provided by it, is or becomes untrue or incorrect on any day or at any time, and/or (ii) of the happening of any event which shall      be or shall be likely to result in an Event of Default, and/or (iii) on receiving a notice of application/ petition being filed/intended to be filed for its bankruptcy / insolvency / winding up; and/or (iv) if it receives a notice of any other legal proceedings to be filed or threatened to be filed or initiated against it; and/or (v) if a custodian or receiver is appointed for any of its properties, business or undertakings; and/or (vi) if any part of its properties, business or undertakings is attached and/or (vii) of any other circumstance which may have an adverse impact on the repayment of the Loan by the Borrower.</div>
                <div>(c) it shall be required to furnish to the Lender all such information, statements, particulars, estimates and reports including without limitation their statement of annual income/ wealth and any other information which is required by the Lender in such form and detail satisfactory to the Lender.</div>
                <div>(d) it shall forthwith give the Lender notice in writing of the occurrence of any Event of Default or any event or circumstance which would (with the giving of notice, expiry of a cure period, or any combination of any of the foregoing) be an Event of Default.</div></p></div>
            <div style="padding-bottom:10px;"><b>8. EVENTS OF DEFAULT</b></div>
            <div><p>8.1. Any of the following events (Events of Default) shall constitute an Event of Default under this Agreement
                <div>(a) if the Borrower fails to repay to the Lender, the Outstanding Amounts (or any portion thereof), on the relevant due date thereof, in the manner and upon the terms and conditions set out in this Agreement;</div>
                <div>(b) if any representations, warranties or statements made by any of the Borrower and/or the Guarantor, whether under this Agreement, any other agreements entered into pursuant hereto and/or in the Application Form are found to be incorrect at the time when they are made or deemed to be made;</div>
                <div>(c) if any of the Borrower and/or the Guarantor commit any breach or default in performance or observance of any covenant, obligation or undertaking imposed upon the Borrower and the Guarantor, as the case may be, under this Agreement and/or any other agreements entered into pursuant hereto</div>
                <div>(d) if any of the Borrower and/or the Guarantor commit any breach or default in performance or observance of any covenant, obligation or undertaking imposed upon the Borrower and/or the Guarantor, as the case may be, under any agreement or contract entered into by such party for the availing of any financial indebtedness (other than the Loan) from any other banks or financial institutions;</div>
                <div>(e) if any attachment, distress, execution or other process against any of the Borrower and the Guarantor, or any of the assets of the Borrower or the Guarantor is enforced or levied;</div>
                <div>(f) if any proceedings are initiated or threatened to be initiated against the Borrower and/or the Guarantor under the Insolvency and Bankruptcy Code, 2016;</div>
                <div>(g) if any of the Borrower and/or the Guarantor commences a voluntary proceeding in respect of bankruptcy, insolvency, partition, liquidation or dissolution or any proceedings in respect thereof under Applicable Law, or consents to the entry of an order for relief in an involuntary proceeding under any such law, or consents to the appointment of or the taking of possession by a receiver, liquidator, assignee (or similar official) for any or a substantial part of its property;</div>
                <div>(h) if any of the Borrower and/or the Guarantor ceases or threatens to cease or carry on its business;</div>
                <div>(i) if it is certified by a chartered accountant or a firm of chartered accountants appointed by the Lender (which the Lender is entitled and is hereby authorised to do at any time, at the Borrower’s cost) that the liabilities of any of the Borrower and/or the Guarantor exceed its assets or that they are carrying on business at a loss;</div>
                <div>(j) if any circumstance or event occurs which in the view of the Lender would or is likely to prejudicially or adversely affect in any manner the capacity of the Borrower to repay the Loan or any part thereof including without limitation upon the Borrower or (in the event that the Borrower is not an individual) the management of the Borrower ceasing to enjoy the confidence of the Lender;</div>
                <div>(k)(in the event that any of the Borrower and/or the Guarantor is a partnership firm) if there is a dispute between the partners of any of the Borrower and Guarantor;</div>
                <div> (l) (in the event that any of the Borrower and/or the Guarantor is an individual, partnership firm or HUF) If any of the Borrower or the Guarantor or the partners of the Borrower and/or the Guarantor or any of the Karta of the Borrower or the Guarantor (as applicable) dies;</div>
                <div>(m) (in the event that any of the Borrower or the Guarantor is a HUF) if there is a partition of any of the Borrower or the Guarantor;</div>
                <div>(n) if any of the Undated Cheques/ECS Mandate, are dishonoured or cease to be valid and binding; and</div>
                <div>(o) (in the event that any of the Borrower and/or the Guarantor is not an individual) if there is any change in the constitution, management or existing ownership or control of any of the Borrower or the Guarantor.</div></p></div>
            <div><p>8.2. Without prejudice to the other rights or remedies available to the Lender under Applicable Law, on the occurrence of an Event of Default, the Lender shall be entitled to exercise the following rights:
                <div>(a) declare the Outstanding Amounts to be immediately due and payable, whereupon the Borrower shall be bound to discharge the entire Outstanding Amount within a maximum of 1 (One) Business Day from the date of the written notice issued by the Lender in this regard;</div>
                <div>(b) submit and invoke the Undated Cheque/ECS Mandate, issued by the Borrower, in favour of the Lender, for the recovery of the Outstanding Amounts. In the event that the Undated Cheque/ECS Mandate issued by the Borrower, is dishonoured the Lender shall be entitled to institute proceedings under the Negotiable Instruments Act, 1881 or the Payment and Settlement Systems Act, 2007;</div>
                <div>(c) enforce the Lenders rights under the demand promissory note submitted by the Borrower;</div>
                <div>(d) report and publish the Borrowers name (and in the event that the Borrower is an not an individual, the names of the partners, proprietors of the Borrower) to the RBI, through any medium for publishing the same in the wilful defaulters list of the RBI;</div>
                <div>(e) enforcement of the guarantee provided by the Guarantor for the payments of the Outstanding Amounts, or any part thereof in relation to the Loan;</div>
                <div>(f) in the event the Lender is required and forced to commence legal proceedings to recover the Outstanding Balance or any part thereof from the Borrower, the Borrower will further pay the Lender all advances, charges, cost and expenses, including reasonable legal fees, incurred or paid by the Lender in exercising any right, power or remedy
                    <div style="padding-top: 15px">conferred by this Agreement, (or in the enforcement thereof) and all such sums shall become a part of the indebtedness secured hereunder and shall be paid to the Lender by the Borrower immediately and without delay or demur.</div></div></p></div>
            <div style="padding-bottom:10px;"><b>9. IMPOSTS, COSTS AND EXPENSES:</b></div>
            <div><p>9.1. The Borrower and the Guarantor shall bear and pay all taxes, rates, duties, (including stamp duties) charges, and other imposts and obligations, existing as well as future, in respect of
                <div>(a) the execution, delivery and performance of this Agreement and any agreement/ documents executed in relation hereto, and,</div>
                <div>(b) the payment of any Interest or other amounts pursuant to</div>
                <div>(c) otherwise in relation to the Loan or the servicing thereof.</div></p></div>
            <div><p>9.2. The Lender, may at the risk and cost of the Borrower, engage one or more person(s) to verify any facts or information furnished by concerning or pertaining to the Borrower, the Guarantor and/or in relation to this Agreement and/or to collect the Outstanding Amounts and may furnish to such person(s) such documents, information, facts and figures as the Lender thinks fit and may delegate to such person(s) the right and authority to perform and execute all acts, deeds, matters and things connected therewith, or incidental thereto, as the Lender thinks fit.</p></div>
            <div><p>9.3. If at any time the Lender employs legal counsel, appraisers, or any other third person or entity for advice, consultation or other representation, or if the Lender otherwise incurs expenses, upon the occurrence of an Event of Default, in connection with
                <div>(a) any litigation, contest, dispute, suit,proceeding or action (including any bankruptcy proceeding); or</div>
                <div>(b) any actual or attempted enforcement of any rights of the Lender against the Borrower, the Guarantor and/or any other person or entity who may be obligated to the Lender by virtue of this Agreement and/or the documents executed pursuant hereto; then, the fees, expenses, and costs of such third party and the Lender shall be payable, on demand, by the Borrower to the Lender and shall be an obligation of the Borrower hereunder; and until such payment to Lender such sums shall be deemed to form part of the Outstanding Amounts.</div></p></div>
            <div style="padding-bottom:10px;"><b>10. DISCLOSURE OF INFORMATION</b></div>
            <div>    <p>10.1. Each of the Borrower and the Guarantor accepts and understands that as a pre condition, to the grant of the Loan, the Lender, requires each of the Borrowers and the Guarantors consent (as may be applicable) for the disclosure by the Lender of, information and data relating to the Borrower and the Guarantor, in respect of the credit facility availed of/to be availed, by the Borrower, obligations assumed/to be assumed, by the Borrower and the Guarantor, in relation thereto and default, if any, committed by the Borrower and/or the Guarantor, in discharge thereof.</p></div>
            <div><p>10.2. Accordingly, each of the Borrower and the Guarantor, hereby agrees and gives consent for the disclosure by the Lender of all or any such information and data relating to them, the information or data relating to any credit facility availed of/to be availed, by them, and default, if any, committed by them, in discharge of their obligation, as the Lender may deem appropriate and necessary, to:
                <div>(a) the Lenders agents, contractors or third party service providers or professional advisers who are under a duty of confidentiality to the Lender as the case may be, and who provide administrative, telecommunications, computer, payment, collections, security, clearing, credit reference or checking, or other services or facilities to the Lender under or in connection with the Loan and/or the operation of the Lenders business, whether in India or outside India;</div>
                <div>(b) the Lenders head office, branches, representative offices, subsidiaries,related corporations or Affiliates or Group companies, in India, or overseas (collectively the Related   Parties and each a Related Party) for any database or data processing purposes or any other purposes whatsoever, notwithstanding that a Related Parties principal place of business may be outside India or that the Borrowers information following the disclosure may be collected, held, processed or used by any Related Party in whole or in part outside India;</div>
                <div>(c) The Reserve Bank of India or any company which has been granted a certificate of registration under sub section (2) of Section 5 of the Credit Information Companies (Regulation) Act, 2005  or any information utilities, any other Governmental Authority or where such disclosure is required under Applicable Law;</div>
                <div>(d) any actual or potential assignee(s) or novatee(s) or transferee(s) of any rights and obligations of the Lender or other participants in any of its rights and/or obligations under this Agreement for any purposes connected with the proposed assignment or transfer;</div>
                <div>(e) any insurer (whether of the Lender or the Borrower or otherwise), or provider of the security; or</div>
                <div>(f) any other bank/ banking company, non banking financial company, housing finance company or any other financial institution or company whether incorporated in India or not.</div></p></div>
            <div><p>10.3. The Borrower further undertakes that any recipient of information (as set out in Clause 10.2 above):
                <div>        (a) may use, process the said information and data disclosed by the Lender in the manner as deemed fit by them; and</div>
                <div>        (b) may furnish for consideration, the processed information and data or products thereof prepared by them, to banks/financial institutions and other credit grantors or registered users, as may be specified by the RBI in this behalf.</div></p></div>
            <div style="padding-bottom:10px;"><b>11. ASSIGNMENT AND SECURITISATION</b></div>
            <div><p>11.1. Each of the Borrower and the Guarantor agree and undertake that itshall not be entitled to transfer or assign any of their rights or obligations under this Agreement to any person directly or indirectly without the prior written consent of the Lender, which may be refused by the Lender without assigning any reason.</p></div>
            <div><p>11.2. The Borrower further agrees that the Lender may at any time transfer, assign or novate by way of securitisation, direct transfer, assignment or otherwise any of its rights, benefits or obligations herein to any party without the requirement of any consent of the Borrower or the Guarantor in such manner and on such terms as the Lender may decide, including reserving a right to the Lender to retain its powers hereunder to proceed against the Borrower and the Guarantor on behalf of the purchaser, assignee or transferee. The Borrower hereby expressly consents to any such assignment, transfer and novation. The Borrower agrees to fulfil and perform all his obligations to such transferee/assigns/novatees. This Agreement shall also ensure for the benefit of the successors of the Lender.</p></div>
            <div><p>11.3. In the event of demand made by any banks or financial institution(s) from whom the Lender has obtained financial assistance, the Borrower and/or the Guarantor, as the case may be, shall make payment of the Outstanding Amounts directly to such bankers / financial institutions. The Borrower(s) agrees that he shall not do or cause to be done anything which will impede the rights of such bankers / financial institutions in their recovery of any dues, including the rights over the product, if any.</p></div>
            <div style="padding-bottom:10px;"><b>12. LIEN AND SET OFF</b></div>
            <div><p>12.1. Notwithstanding anything to the contrary in these presents or any other document/ arrangement: (i) in respect of all and any of the Borrowers and Guarantors present and future liabilities to the Lender or any affiliate or associate companies (as defined in the Companies Act, 2013) of the Lender (Lender Parties), whether under this document or under any other obligation/loan/ facilities/ borrowings/ document, whether such liabilities are/ be crystallised, actual or contingent, primary or collateral or several or jointly with others, whether as principal debtor and/ or as guarantor and/ or otherwise howsoever (collectively Liabilities), the Lender Parties shall have a specific and special lien on all the Borrowers and the Guarantors present and future stocks, shares, securities, property, book debts, all moneys held with or in custody, legal or constructive, with the Lender Parties, now or in future, whether in same or different capacity, and whether severally or jointly with others, and (ii) separately, the Lender Parties shall have an express right to, without notice to and without consent of the Borrower and/or the Guarantor, set off, transfer, sell, realise, adjust, appropriate all such amounts, securities and property as aforesaid (whether earmarked for any particular liability or not) for the purpose of realising or against any of dues in respect of any of the Liabilities and to combine or consolidate all or any of loan accounts of the Borrower and the Guarantor and to set off any monies, whether of same type or nature or not and whether held in same capacity or not including upon any default in payment of any part of any of the Liabilities when due in terms of such documents.</p></div>
            <div style="padding-bottom:10px;"><b>13. COLLECTIONS</b></div>
            <div><p>13.1. Each of the Borrower and the Guarantor hereby expressly recognise and accept that the Lender shall without prejudice to its right to perform such activities itself or through its officers or employees, be entitled, and has full power and authority, to appoint one or more third parties and to delegate to such third party all or any of its functions, rights and powers under this Agreement relating to the administration of the Loan including the right and authority to collect and receive on behalf of the Lender from the Borrower and/or the Guarantor, all due and unpaid amounts payable by the Borrower under this Agreement and to perform and execute all lawful acts, deeds, matters and things connected
                <div style="padding-top: 15px">therewith and incidental thereto including sending notices, contacting the Borrower and/or the Guarantor (as the case may be), receiving cash/ cheques/ drafts/ mandates from the Borrower and the Guarantor and giving valid and effectual receipts and discharge to the Borrower and/or the Guarantor (as the case may be). For the purposes aforesaid or for any other purpose at the discretion of the Lender, the Lender shall be entitled to disclose to such third parties all necessary and relevant information pertaining to the Borrower, the Guarantor and the Loan and each of the Borrower and the Guarantor hereby consent to such disclosure by the Lender. Notwithstanding the above, each of the Borrower and the Guarantor expressly accept and authorise the Lender (and/or any such third party as the Lender may select) to contact third parties (including the family members of the Borrower and the Guarantor) and disclose all necessary or relevant information pertaining to the Borrower, the Guarantor and the Loan and the Borrower hereby consents to such disclosure by the Lender (and/ or any such third party as the Lender may select).</div></p></div>
            <div style="padding-bottom:10px;"><b>14. NOTICES</b></div>
            <div><p>14.1. The Lender shall be entitled to send any notice to the Borrower and the Guarantor by prepaid post, speed post, courier at the addresses last known to it or by email to the email address last known to it. The notice shall be deemed to be received by the Borrower and/or the Guarantor, as the case may be: (i) if sent by post, speed post and/or courier on the expiration of 3 (Three) calendar days after the same shall have been delivered to the post office/courier office; and (ii) if delivered personally, when left at the address of the Borrower and/or the Guarantor, (iii) if sent by e mail communication, on the dispatch of the email communication from the systems of the Lender, as the case may be, as aforesaid, and a certificate by an officer of Lender who sent such notice or communication that the same was so given or made shall be final and conclusive. Any notice to be sent to the Lender by the Borrower or the Guarantor shall be sent by prepaid post at the address mentioned above. Any notice addressed to the Lender shall be deemed to be received by the Lender when it shall have been actually received by the Lender.</p></div>
            <div><p>14.2. Each of the Borrower and the Guarantor shall intimate in writing to the Lender, 15 (Fifteen) calendar days in advance of any change in their physical address or email addresses given to the Lender and as stated in the records, failing which any correspondence sent by the Lender to the Borrower and the Guarantor, to the addresses available in records shall be deemed to have been duly served.</p></div>
            <div><p>14.3. The Lender shall be entitled to, at any time during the Term of this Agreement, send any notices required to be sent under the terms of this Agreement, through any other modes of communication which may be acceptable to the Lender, provided that prior to sending notices through any other mode of communication, the Lender shall provide a one time intimation to the Borrower (through any of the modes set out in Clause 14.1 above) setting out the details of the mode of communication through which notices may be sent by the Lender. It is hereby expressly clarified that any notices required to be sent by the Borrower and/or the Guarantor may be sent only through any of the modes of communication set out in Clause 14.1 above.</p></div>
            <div style="padding-bottom:10px;"><b>15. MISCELLANEOUS</b></div>
            <div><p>15.1. The Lender on its part is not obligated to provide any statement(s) of the Loan account to the Borrower during the course of this Agreement unless specifically requested by the Borrower as the case may be, except such document(s)/statement(s) as required to be provided by the Lender under Applicable Law. </p></div>
            <div><p>15.2. Each of the Borrower and the Guarantor declare that it has read and understood this Agreement and in the event, any of the Borrower or the Guarantor is illiterate or cannot read English language, the terms and conditions of this Agreement have been read over, translated and explained in detail in the vernacular language to him.</p></div>

            <div style="padding-bottom:10px;"><b>16. RESERVATION OF RIGHTS</b></div>
            <div><p>16.1. No forbearance, indulgence or relaxation by the Lender at any time to require performance of any provision of this Agreement shall in any way affect, diminish or prejudice the right of the Lender herein and any waiver or acquiescence by the Lender of any breach of any provision of this Agreement shall not be construed as a waiver or acquiescence of any continuing or succeeding breach of such provision.</p></div>
            <div style="padding-bottom:10px;"><b>17. SEVERABILITY</b></div>
            <div>        <p>17.1. If any provision of this Agreement is invalid or unenforceable or prohibited under Applicable Law where that provision is to be performed, this Agreement shall be considered divisible as to such provision and such provision shall be inoperative and shall not be part of the consideration moving from either Party hereto to the other and the remainder of this Agreement shall be valid and binding and of like effect as though such provision was not included herein.</p></div>
            <div style="padding-bottom:10px;"><b>18. AMENDMENTS:</b></div>
            <div>  <p>18.1. The Lender reserves the right to alter, amend or revise any of these terms and conditions and may notify the Borrower of any changes to terms and conditions in any manner it considers appropriate</p></div>
            <div style="padding-bottom:10px;"><b>19. GOVERNING LAW AND JURISDICTION</b></div>
            <div><p>19.1. This Agreement shall be governed by and interpreted in accordance with the laws of India.</p></div>
            <div><p>19.2. Subject to Clause 20 below, the Parties hereto unconditionally submit to the exclusive jurisdiction of the courts and tribunals in the place where this Agreement is executed (as set out in Schedule I hereto) alone for the determination of any matters arising out of or under this Agreement</p></div>
            <div style="padding-bottom:10px;"><b>20. DISPUTE RESOLUTION</b></div>
            <div><p>20.1. All disputes, differences, claims and questions whatsoever arising out of this Agreement between the Lender and/or its representatives and/or its assigns on the one hand, and the Borrower and/or the Guarantor, on the other hand, concerning or relating to these presents or anything herein contained or in any way relating to or arising from these presents shall be referred to a sole arbitrator to be appointed by the Lender (Arbitrator).</p></div>
            <div><p>20.2. The arbitration proceedings shall be governed by the provision of Arbitration & Conciliation Act, 1996.</p></div>
            <div><p>20.3. The Arbitrator so appointed shall formulate his own procedure and shall be entitled to dispense with filling of pleadings or taking of any evidence and shall be entitled to dispose of the proceedings in a summary manner.</p></div>
            <div><p>20.4. The language of the Arbitration proceedings shall be in English.</p></div>
            <div><p>20.5. The award of such arbitrator so appointed shall be final and binding on all the parties to this Agreement.</p></div>
            <div><p>20.6. The seat of arbitration for the arbitration proceedings contemplated herein under the terms of this Agreement shall be the place where this Agreement is executed (as set out in Schedule I hereto).</p></div>
            <div><p>20.7. The sole arbitrator shall pronounce the award as expeditiously as possible after entering on the reference or within such time as he may deem expedient. Any notice by the Arbitrator to the respondents by Registered Post at the address mentioned in the agreement or to any changed address duly intimated in writing by the Borrower, will be deemed to be sufficient notice to the parties. The costs and expenses of the arbitration proceedings shall be borne by the Borrower. </p></div>
            <div><p>20.8. Nothing contained herein shall be construed as extinguishing, limiting or ousting the rights and remedies of the Lender, if available now or in the future as against the Borrower and/or any other persons, or any of their respective assets, under the Securitization and Reconstruction of Financial Assets and Enforcement of Security Interest Act, 2002 and/or the Insolvency and Bankruptcy Code, 2016, and the Lender shall be absolutely entitled to exercise such rights/remedies thereunder irrespective of the initiation, pendency, or continuation of any other arbitral or other proceedings.</p></div>
            <div><p>20.9. Notwithstanding anything to the contrary contained hereinabove, in the event that the Lender, as a result of a change in applicable law or otherwise, becomes entitled to recover the dues owed to it under the Recovery of Debts Due to Banks and Financial Institutions Act, 1993 or any amendment, replacement thereof, and/or to exercise rights/remedies thereunder, including as a financial institution, the Borrower and the Guarantor hereby expressly agrees and consents that the Lender shall be entitled to exercise the rights and remedies available to the Lender including to recover the Outstanding Balance from and/or to enforce any  security against the Borrower or any other persons,
                <div style="padding-top: 15px">by filing proceedings with any of the debts recovery tribunals constituted thereunder. In addition, the parties agree that in the event that the Lender is empowered to exercise rights and powers under the provisions of the Recovery of Debts Due to Banks and Financial Institutions Act, 1993 as aforesaid, the provisions of subclause (b) (i) to (iii) and the agreement to arbitrate as between the Lender and the Borrower shall, at the option of the Lender, cease to have effect.</div></p></div>
            <div style="padding-bottom:10px;"><b>21. INDEMNIFICATION</b></div>
            <div><p>21.1. Each of the Borrower and the Guarantor hereby expressly and unequivocally agree to and hereby do, indemnify, save, defend and hold harmless the Lender and its officers, directors, employees, shareholders, agents, consultants and other representatives, successors and assigns of, from and against all, direct and indirect, claims, damages, losses, costs and expenses, including attorneys fees arising out of any action, omission, breach or default by or and/or its employees or agents under or in the course of performing this Agreement and/or otherwise incurred by the Lender as a result of granting the Loan to the Borrower or in the  course of performance of its obligations under this Agreement (Claim).
            </p></div><div><p>  21.2. The Borrower hereby undertakes and agrees that in addition to its other payment obligations, in relation to the Loan, each of the Borrower and the Guarantor shall be jointly and severally liable for making payment of any Claim made by the Lender pursuant to this Clause 21 without any demur, reservations, contest, protest whatsoever within a maximum of 2 (Two) Business Days of the date of the Claim.</p></div>
            <div style="padding-bottom:10px;"><b>22. EFFECTIVE DATE</b></div>
            <div><p>22.1. The Agreement shall have become binding on the Borrower on and from the date when the Borrower executes the Agreement and unless otherwise provided for in this Agreement, shall be in force till all the monies due and payable to the Lender / Outstanding Balance under this Agreement as well as all other Agreement/s documents that may be subsisting executed between the Borrower and the Lender are discharged in full. </p></div>

        </div>
            <div class="row col-md-12" style="page-break-before: always;margin-top:15px">
                <table style="border: 2px solid #000000;border-collapse: collapse;font-size: 15px;height:400%;" width="100%">
                    <tbody>
                    <tr>
                        <td colspan="4" class="table-th-new" width="07%" style="font-weight: bold;text-align: center;">SCHEDULE CUM KEY FACT STATEMENT</td>
                        <td rowspan="22" width="07%" class="table-th-new" style="-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);word-wrap:break-word;">
                            <div style="position: absolute;height: 16%;width: 500%;margin-left: -450px;margin-top: -35px;">Borrower <span style="padding-left:450px;">Co Borrower</span></div>
                            <div style="position: absolute;width:500%;height: 16%;margin-left: -480px;margin-top: -10px;">
                                Signed and Delivered by the Borrower & Co Borrower(s) in token of and in witness of them having read (and/or being explained), verified,understood, irrevocably agreed to, accepted, confirmed and declared all the clauses viz. 1 to 18 on all the page nos 1 to 4 of the Terms and Conditions of Personal Loan document, the Schedule, all contents thereof including all the 		        terms and conditions contained therein, and authenticated accuracy and correctness of the same.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="07%" class="table-th-new">Application Ref NO.</td>
                        <td width="07%" class="table-th-new">$!form.refId</td>
                        <td width="07%" class="table-th-new">Place of signing</td>
                        <td width="07%" class="table-th-new"></td>

                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new"><div>Date of Signing</div><div>(DD / MM /YYYY)</div></td>
                        <td width="07%" class="table-th-new"></td>
                        <td width="07%" class="table-th-new">SBFC Branch</td>
                        <td width="07%" class="table-th-new">$!form.branch</td>
                    </tr>

                    <tr>
                        <td colspan="4" width="07%" class="table-th-new">Name of the Borrower :
                            $!form.applicant.applicantName.firstName
                            $!form.applicant.applicantName.middleName
                            $!form.applicant.applicantName.lastName
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" width="07%" class="table-th-new">Name of the Co Borrower :
                            #foreach($caApp in $!form.coApplicantList)
                                $!form.caApp.applicantName.firstName
                                $!form.caApp.applicantName.middleName
                                $!form.caApp.applicantName.lastName
                                #break;
                            #end
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" class="table-th-new" style="font-weight: bold;text-align: center;">LOAN DETAILS</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new">Loan Amount</td>
                        <td width="07%" class="table-th-new">Rs. $!form.loanCharges.loanDetails.finalDisbAmt</td>
                        <td width="07%" class="table-th-new">Loan Tenor</td>
                        <td width="07%" class="table-th-new">$!form.loanCharges.tenureDetails.disbTenureMonths Months</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new"><div>Installment</div><div>Frequency</div></td>
                        <td width="07%" class="table-th-new">Monthly</td>
                        <td width="07%" class="table-th-new"><div>EMI Scheme</div><div>(Advance / Arrears)</div></td>
                        <td width="07%" class="table-th-new">Arrears</td>
                    </tr>

                    <tr>
                        <td rowspan="2" width="07%" class="table-th-new"><div>Interest Rate</div>
                            <div>(monthly reducing)</div>
                            <div>(Fixed Rate)</div></td>
                        <td rowspan="2" width="07%" class="table-th-new" >$!form.loanCharges.interestDetails.interestRate % Per Annum</td>
                        <td width="07%" class="table-th-new">EMI Start Date</td>
                        <td width="07%" class="table-th-new">$!form.emiStartDate</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new">EMI End Date</td>
                        <td width="07%" class="table-th-new">$!form.emiEndDate</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new">PF %</td>
                        <td width="07%" class="table-th-new">2 % + GST</td>
                        <td width="07%" class="table-th-new">PF Amount</td>
                        <td width="07%" class="table-th-new">Rs.$!form.loanCharges.totalFees</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new">EMI (No's)</td>
                        <td width="07%" class="table-th-new">$!form.loanCharges.tenureDetails.disbTenureMonths</td>
                        <td width="07%" class="table-th-new">EMI Amount</td>
                        <td width="07%" class="table-th-new">Rs.$!form.loanCharges.finalEMIAmt</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="table-th-new" style="font-weight: bold;text-align: center;">OTHER CHARGES (All charges are non refundable & applicable post disbursement of loan)</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new"><div>Additional Charges </div><div> + GST</div></td>
                        <td width="07%" class="table-th-new">Rs. $!form.loanCharges.advEMIWithGST</td>
                        <td colspan="2" width="07%" class="table-th-new">Insurance  Charges As Applicable :<div>As specified by Government of India</div></td>
                    </tr>

                    <tr>
                        <td colspan="2" width="07%" class="table-th-new">Cheque / ECS / SI Return Charges: Rs 1000/<div>(+) Service tax. (without prejudice to</div><div>SBFC' civil and criminal rights and<div>remedies)</div></td>
                        <td width="07%" class="table-th-new">Cheque/ECS/ SI<div>Swapping Charges</div></td>
                        <td width="07%" class="table-th-new">Rs. 1000/</td>
                    </tr>

                    <tr>
                        <td colspan="2" width="07%" class="table-th-new">Taxes: At actuals, applicable presently<div>
                            or in future</div></td>
                        <td colspan="2" width="07%" class="table-th-new">Date on which annual outstanding<div>
                            balance statement will be issued :-</div>
                            <div>31st May</div></td>
                    </tr>

                    <tr>
                        <td colspan="2" width="07%" class="table-th-new">&nbsp&nbsp&nbsp&nbsp</td>
                        <td colspan="2" width="07%" class="table-th-new">&nbsp&nbsp&nbsp&nbsp</td>
                    </tr>

                    <tr>
                        <td colspan="4" width="07%" class="table-th-new">Loan Prepayment Charges: (Mentioned as percentage of Outstanding Balance) > 6 Months of EMI repayment: 5% No closure allowed before 6 EMI payment Note: GST as applicable will be levied in addition to the Prepayment Charges </td>
                    </tr>

                    <tr>
                        <td colspan="2" width="07%" class="table-th-new">CIBIL Report Copy Charges :  Rs.50/</td>
                        <td colspan="2" width="07%" class="table-th-new">Legal Collection & Incidental Charges :
                            At Actuals</td>
                    </tr>

                    <tr>
                        <td colspan="2" width="07%" class="table-th-new">Other Charges, commissions, fees: As per Application or as may be specified by SBFC</td>
                        <td colspan="2" width="07%" class="table-th-new">Stamp Duty & Other Statutory Charges : As per applicable laws of the State</td>
                    </tr>

                    <tr>
                        <td width="07%" class="table-th-new">Details of Security/Collateral</td>
                        <td width="07%" class="table-th-new"></td>
                        <td colspan="2" width="07%" class="table-th-new">Duplicate Amortization / Repayment
                            Schedule charges : Rs. 200/-</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="row col-md-12" style="page-break-before: always;margin-top:100px">

                The Borrower(s) have affixed their signatures after verifying and understanding the contents of this document, at the end of the Schedule.

                IN WITNESS WHEREOF the Borrower, the Guarantor and the Lender have signed and or caused to be signed this Agreement in acceptance of all terms and conditions on the day, month and year as mentioned in Schedule I above.
                <div style="margin-top:10px">
                    <div style="padding-bottom:10px;margin-top:20px">I. SIGNATURE OF BORROWER</div>
                    <div style="margin-top:30px">Signature of Borrower 1</div>
                    <div style="padding-bottom:10px;margin-top:20px">For 	__________________________

                        Mr. ________________ (Director/ Karta/ Trustee/ Partner(s)/ Manager/ Proprietor/Individual)</div>

                    <div style="margin-top:30px">Signature of Borrower 2</div>
                    <div style="padding-bottom:10px;margin-top:20px">For 	__________________________

                        Mr. ________________ (Director/ Karta/ Trustee/ Partner(s)/ Manager/ Proprietor/Individual)</div>

                    <div style="margin-top:30px">Signature of Borrower 3</div>
                    <div style="padding-bottom:10px;margin-top:20px">For 	__________________________

                        Mr. ________________ (Director/ Karta/ Trustee/ Partner(s)/ Manager/ Proprietor/Individual)</div>

                    <div style="margin-top:20px;padding-bottom:20px">II. GUARANTOR</div>
                    <div style="margin-top:30px">Signature of Guarantor 1</div>
                    <div style="padding-bottom:10px;margin-top:20px">For 	__________________________

                        Mr. ________________ (Director/ Karta/ Trustee/ Partner(s)/ Manager/ Proprietor/Individual)</div>

                    <div style="margin-top:30px">Signature of Guarantor 2</div>
                    <div style="padding-bottom:10px;margin-top:20px">For 	__________________________

                        Mr. ________________ (Director/ Karta/ Trustee/ Partner(s)/ Manager/ Proprietor/Individual)</div>

                    <div style="margin-top:30px">Signature of Guarantor 3</div>
                    <div style="padding-bottom:10px;margin-top:20px">For 	__________________________

                        Mr. ________________ (Director/ Karta/ Trustee/ Partner(s)/ Manager/ Proprietor/Individual)</div>
                    <div style="margin-top:10px">III. FOR THE LENDER</div>
                    FOR SMALL BUSINESS FINCREDIT INDIA PRIVATE LIMITED
                </div>
                <div style="margin-top:100px;padding-bottom:20px">Signature:    </div>
                <div style="padding-bottom:20px;margin-top:40px">Name:      </div>
                <div style="padding-bottom:20px;margin-top:40px">Place Dated    </div>
            </div>
            <div style="page-break-before: always;margin-top:150px">
                <b><u><h4 style="font-size:15px;text-align:center">Demand Promissory Note</h4></u></b>
                <div style="margin-top:50px;">
                    ON DEMAND, I, &nbsp;&nbsp;$!form.applicant.applicantName.firstName $!form.applicant.applicantName.middleName
                    $!form.applicant.applicantName.lastName &nbsp;&nbsp; (the Borrower), promise to pay to Small Business FinCredit India Private Limited (SBFC including its successors and assigns), the amount  of the Loan together with the Outstanding Dues under the Personal Loan Agreement  dated___________________(the Agreement) entered into between the Borrower and SBFC, amounting  to a sum of INR ____________(Indian Rupees___________________________________________________________________________________________) together with interest  as SBFC may fix from time to time, payable with monthly rests, from the date hereof, in terms of the Agreement. I hereby waive the presentment for payment and noting and protest of this Demand Promissory Note.</div>

                <div style="padding-top:80px">Capitalized terms used herein but not defined shall have the meaning as given to such terms under the Agreement.</div>
                <div style="padding-top:80px">SIGNED  AND  DELIVERED by the withinnamed Borrower:</div>
                <div style="padding-top:80px">Shri/Smt:<div style="height:100px;width:100px;border: 1px solid black !important;margin-left:80%">Revenue Stamp of Rs. 1/- to be affixed (Each Signatory)</div></div>
                <div style="padding-top:80px">Shri/Smt:</div>
                <div style="padding-top:80px">Place:</div>
                <div style="padding-top:80px">Date:</div>
            </div>
            <div class="row col-md-12" style="page-break-before: always;margin-top:150px">
                <b><u><h4 style="font-size:15px;text-align:center">LETTER OF CONTINUITY FOR DEMAND  PROMISSORY  NOTE</h4></u></b>
                <div style="margin-top:50px;">To,</div>
                <div style="margin-top:50px;"><b>Small Business FinCredit India Private Limited</b></div>
                <div style="margin-top:50px;">_____________________</div>
                <div style="margin-top:50px;">_____________________</div>
                <div style="margin-top:50px;">Dear Sir/Madam,</div>
                <div style="margin-top:50px;">I $!form.applicant.applicantName.firstName   $!form.applicant.applicantName.middleName  $!form.applicant.applicantName.lastName (the Borrower) refer to the Demand Promissory Note for INR___________________dated________________________, duly signed and delivered by us to you, Small Business Fincredit India Private Limited (SBFC including its successors and assigns), (DPN) as security for the repayment of the amount  of the Loan together with the Outstanding Dues under the Personal Loan Agreement  dated _______________________(the Agreement) entered into between the Borrower and SBFC. I hereby irrevocably and unconditionally agree, confirm and undertake that:</div>
                <div style="margin-top:50px;">1. The DPN shall stand and operate as continuing security to you and be enforceable for the repayment of the ultimate balance of the Loan together with Outstanding Dues or all sums which may in future be advanced;</div>
                <div style="margin-top:50px;">2. I hereby acknowledge and confirm that I am liable to bank for the payment  of the amount  mentioned in the said DPN together with interest  thereon  and that any applicable limitation of the said DPN shall be suspended in accordance with the Limitation Act, 1963 (and any amendments or re-enactments thereto)  until I default in the repayment of the amount  of the Loan together with the Outstanding Dues or any other Event of Default, and the limitation shall start from the date of default and shall run till the due repayment of the amount  of the Loan together with Outstanding Dues.</div>
                <div style="margin-top:50px;">3. I will remain liable on the DPN notwithstanding the payment  made into the account of SBFC from time to time or the Loan being reduced or extinguished  from time to time or even if the balance in the account of the Loan may be in credit.</div>
                <div style="margin-top:50px;">4. I hereby waive presentment on the said DPN and hereby undertake to pay you the amount due on the said DPN without the same being presented to us for payment. Capitalized terms used herein but not defined shall have the meaning as given to such terms under the Agreement.</div>
                <div style="margin-top:50px;"><u><b>SIGNED AND DELIVERED</b> BY THE WITHIN NAMED BORROWER:</u></div>
                <div style="margin-top:50px;">Shri/Smt:</div>
                <div style="margin-top:50px;">Shri/Smt:</div>
                <div style="margin-top:80px;">Place:</div>
                <div style="margin-top:50px;">Date:</div>
            </div>
            <div class="row col-md-12" style="page-break-before: always;margin-top:150px">
                <b><h4 style="font-size:15px;text-align:center">DECLARATION FOR SIGNING IN VERNACULAR LANGUAGE / AFFIXING OF THUMB IMPRESSION</h4></b>
                <div style="margin-top:50px;">I, ___________ of _______________ adult inhabitant of residing at ______________ ______________________ do hereby state and declare on solemn affirmation as under:</div>
                <div style="margin-top:10px">I have read out and explained the contents of the Agreement and all other documents incidental to availing the Loan from SMALL BUSINESS FINCREDIT INDIA PRIVATE LIMITED, a company incorporated under the Companies Act 1956, and existing under Companies Act, 2013 and having its Registered office at 103, 1st Floor, C&B Square, Sangam Complex, Andheri Kurla Road, Village Chakala, Andheri (East), Mumbai 400059 (hereinafter referred to as the Lender which expression unless it be repugnant to the context or meaning thereof, shall mean and include its successors and assigns) to the Borrower/s i.e. Mr./Ms. _______________________ and he/she/they have understood the same and do hereby agree to abide by all the terms and conditions of the Loan and clauses of the same.</div>
                <div style="padding-top:80px">I declare that whatever I have stated hereinabove is true and correct to the best of my knowledge and belief. Solemnly affirmed at ______ on this _______ day of ____ 20_.</div>
            </div>Signed

            <div style="margin-top:80px">
                Name:  #foreach($caApp in $!form.coApplicantList)
                $!form.caApp.applicantName.firstName
                $!form.caApp.applicantName.middleName
                $!form.caApp.applicantName.lastName
                #break;
            #end		<span style="margin-left:700px">Signature of Applicant/</span>
            </div>
            <div style="margin-top: 50px">
                Relation to Applicant:#foreach($caApp in $!form.coApplicantList)
                $!form.caApp.relationWithApplicant
                #break;
            #end	<span style="margin-left:600px">Co applicant sign In Vernacular</span>
            </div>
            <div style="margin-top:50px">Date: _________________________</div>
            <div>(Not to be attested)</div>
        </div>
        <div class="row col-md-12" style="page-break-before: always;margin-top:150px">
            <b><h4 style="font-size:15px;text-align:center">DUAL SIGNATURE AFFIDAVIT</h4></b>
            <div style="margin-top:50px;">I_____________________________________________________S/o_________________________________</div>
            <div style="margin-top:50px;">Aged ______ years, resident of ______________________________________________________________ do hereby solemnly affirm and declare as under:-</div>
            <div style="margin-top:50px;">That I have applied for Personal/Business/Professional loan from Small Business Fincredit India Pvt Ltd. and after fulfilling all the formalities the same has been sanctioned to me. I hereby acknowledge the same. I Say that as per documents more particularly mentioned hereunder, my signature mismatch with each other, detailed as under:</div>

            <div style="margin-top:80px;">   A) Signature Specimen 1(As per PAN Card):  _____________________________________</div>
            <div style="margin-top:50px;">    B) Signature Specimen 2(As per Other Document): ________________________________</div>
            <div style="margin-top:50px;">That I hereby confirming on oath that both the aforesaid signatures belong to me and I further verify that all the aforesaid statements are true and correct and may be taken into consideration for further dealing.</div>
            <div style="margin-top:20px;">I hereby undertake to make good against any loss, costs, charges and expenses that the Small Business FinCredit India Pvt. Ltd. may incur, suffer, or sustain on any claim being made and/or established on or against my aforesaid statements. </div>
            <div style="margin-top:80px;">Date:</div>
            <div style="margin-top:20px;">Place:</div><div style="margin-left:70%;">Deponent</div>
            <div style="margin-left:70%;">(<span style="margin-left:80px;">)</span>	</div>
            <div style="margin-top:80px;">
                Solemnly affirmed and signed before me.</div>
        </div>
        <div class="row col-md-12" style="page-break-before: always;margin-top:150px">
            <b><h4 style="font-size:15px;text-align:center">DUAL DOB DECLARATION</h4></b>
            <div style="margin-top:50px;">Mr./Ms.__________________________________________S/o_______________________________________</div>

            <div style="margin-top:50px;">Resident of____________________________________________________________________________________________________________________________________________________aged about____ Years do hereby solemnly affirm and declare as under:-</div>

            <div style="margin-top:50px;">That I have applied for Personal/Business/Professional loan from Small Business FinCredit India Pvt Ltd and after fulfilling all the formalities the same has been sanctioned to me. I hereby acknowledge the same. I Say that as per documents more particularly mentioned hereunder, my date of Birth is showing mismatch with each other, detailed as under:</div>

            <div style="margin-top:50px;">Date of Birth as per pan card certificate    ____________________________(Actual DOB)</div>

            <div style="margin-top:50px;">Date of Birth as per Other Docs  ______________________________(Wrongly Mentioned)</div>

            <div style="margin-top:50px;">That I hereby confirming on oath that my actual date of birth is ___________________ but in other documents my date of birth is wrongly mentioned ______________. Hence I request you to consider my correct date of birth in your records as ____________. I further verify that all aforesaid statements are true and correct and may be taken into consideration for further dealing.</div>
            <div style="margin-top:50px;">I hereby undertake to make good against any loss, costs, charges and expenses that the Small Business FinCredit India Pvt. Ltd. may incur, suffer, or sustain on any claim being made and/or established on or against my aforesaid statements.</div>

            <div style="margin-top:50px;">Date :</div>
            <div style="margin-top:50px;">Place:<span style="margin-left:80%;">Thanking You</span></div>
            <div style="margin-left:80%;">Yours Faith fully</div>
            <div style="margin-left:80%;">(<span style="margin-left:100px;">)</span></div>
        </div>

        <div class="row col-md-12" style="page-break-before: always;margin-top:150px">
            <b><h4 style="font-size:15px;text-align:center">DUAL NAME DECLARATION</h4></b>
            <div style="margin-top:50px;">Mr.__________________________________________S/o_________________________________________</div>
            <div style="margin-top:50px;">Resident of ______________________________________________________________________________________________________________________________________________________aged about____ Years do hereby solemnly affirm and declare as under:-</div>
            <div style="margin-top:50px;">
                That I have applied for Personal/Business/Professional loan from Small Business FinCredit India Pvt Ltd and after fulfilling all the formalities the same has been sanctioned to me .I hereby acknowledge the same. I Say that as per documents more particularly mentioned hereunder, my name mismatch with each other, detailed as under:</div>
            <div style="margin-top:50px;">As per Pan Card  _____________________________________________________________________</div>
            <div style="margin-top:50px;">As per Other Docs  ___________________________________________________________________</div>
            <div style="margin-top:50px;">That I hereby confirming on oath that both the aforesaid names belong to me and I further verify that all the aforesaid statements are true and correct and may be taken into consideration for further dealing.</div>
            <div style="margin-top:50px;">I hereby undertake to make good against any loss, costs, charges and expenses that the Small Business FinCredit India Pvt. Ltd. may incur, suffer, or sustain on any claim being made and/or established on or against my aforesaid statements.</div>

            <div style="margin-top:50px;">Date :</div>
            <div style="margin-top:50px;">Place:<span style="margin-left:80%;">Thanking You</span></div>
            <div style="margin-left:80%;">Yours Faith fully</div>
            <div style="margin-left:80%;">(<span style="margin-left:100px;">)</span></div>
</form>
</body>
</html>