<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en-US">

<head>
    <style type="text/css">
        .title-block {
            border: 1px solid blue;
            height: 80px;
            width: 485px;
        }

        .heading-block {
            border: 1px #00008B;
            background-color: #00008B;
            font-size: 15px;
            color: white;
            padding: 1px 8px;
            margin-top: 5px;
            line-height: 15px;
        }

        .box {
            height: 22px;
            width: 23px;
            padding: 0px 0px;
            font-size: 15px;
            text-align: center;
            border: 1px solid black;
        }

        .box-gap {
            height: 22px;
            width: 22px;
            padding: 0px 0px;
            font-size: 15px;
            text-align: center;
            border: none;
        }

        span:first-of-type {
            margin-left: 10px;
        }

        body {
            width: 920px;
            height: 1122px
        }

        table, th, td {
            border-collapse: collapse;
        }

        table {
            margin-top: 1px;
        }

        th, td {
            text-align: left;
            font-size: 12px;
            color: black;
        }

        input[type="checkbox"] {
            width: 15px;
            height: 15px;
            text-align: center;
        }

        .content-label {
            font-size: 15px;
            color: black;
            font-weight: bold;
        }

        .content-label-center {
            font-size: 12px;
            color: black;
            text-align: center;
            font-weight: bold;
        }

        .left-margin {
            margin-left: 10px;
        }

        input[type=checkbox], input[type=radio] {
            vertical-align: middle;
            position: relative;
            bottom: 1px;
        }

        input[type=radio] {
            bottom: 2px;
        }

        input[type=text] {
            border: 1px solid black;
            background: #ffffff;
            margin-bottom: 2px;
            height: 16px;

        }

        .input-box-text {
            font-size: 14px;
            color: black;
            font-weight: bold;
            padding-left: 6px;
        }

        .input-text-no-bold {
            font-size: 16px;
            color: black;
            padding-left: 6px;
        }

        .table-personal td {
            text-align: right;
        }

        .table-personal {
            margin-top: 0px;
        }

        .border-bottom {
            border-bottom: 1px solid #00008B;
        }

        .border-right {
            border-right: 1px solid #00008B;
            padding-right: 4px;
        }

        input {
            border: none;
            border-bottom: 1px solid black;
            background: #ffffff;
            margin-bottom: 2px;
        }

        table.product-details td {
            border: 1px solid black;
            padding: 2px 10px;
        }

        li {
            font-size: 16px;
            line-height: 16px;
            padding-top: 4px;
        }

        .title-label {
            font-size: 26px;
            margin-bottom: 8px;
            margin-top: 5px;
        }

        .normal-text {
            font-size: 18px;
        }

        .subtitle-label {
            display: block;
            text-align: center;
            font-size: 20px;
            margin-bottom: 8px;
            margin-top: 5px;
        }

        .top-bottom-space {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .big-top-bottom-space {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .large-box {
            height: 100px;
            width: 200px;
            border: 1px solid black;
        }

        .photo-box {
            height: 150px;
            width: 150px;
            border: 1px solid black;
        }

        .title {
            text-align: center;
            padding-top: 15px;
        }

        .bigbox {
            border: 2px;
            border-collapse: collapse;
        }

        .table-th-new {
            height: 30px;
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 14px;
            text-align: center;
        }

        .td-new {
            height: 60px;
            border: 1px solid black;
            border-collapse: collapse;
        }

        .placeholder-text {
            color: black;

        }

        .tick-box {
            margin-left: 11px;
            margin-top: 3px;
            font-weight: bold;

        }
    </style>
</head>

<body>
<!--First Page (SHCHEDULE PAGE)  -->

<div class="title-label" style="text-align: center;"><strong>SCHEDULE</strong></div>
<table class="product-details" width="100%">
    <tr>
        <td width="05%" class="content-label-center">1</td>
        <td width="25%" class="content-label">
            <div>
                <label class="content-label">Borrower Name</label>
            </div>

            <div>
                <label class="content-label">Address</label>
            </div>
            <div style="margin-top:22px">
                <label class="content-label">E-mail</label>
            </div>
        </td>
        <td width="70%" class="content-label">
            <div>
                #if($borrowerName)
                    <input class="input-box-text" style="width:510px;border:0;" value="$borrowerName"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
            <div>
                #if($residenseAddress)
                    <input class="input-box-text" style="width:510px;border:0" value="$residenseAddress"/>

                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
            <div>
                #if($residenseAddrOtherDetails)
                    <input class="input-box-text" style="width:510px;border:0;" value="$residenseAddrOtherDetails"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
            <div>
                #if($emailID)
                    <input class="input-box-text" style="width:510px;border:0;" value="$emailID"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>

        </td>
    </tr>
    <tr>
        <td class="content-label-center">2</td>
        <td class="content-label">HDB Financial Services Limited</td>
        <td class="content-label">
            <div>
                <label class="content-label">HDB Financial Services Limited</label>
            </div>
            <div>
                <label class="content-label">4th Floor, No.68/2, Murugesa Naicker Office Complex,</label>
            </div>
            <div>
                <label class="content-label">"Loyal Towers", Left Wing, Greams Road,
                </label>
            </div>
            <div>
                <label class="content-label">Chennai - 600006.</label>
            </div>


        </td>
    </tr>
    <tr>
        <td class="content-label-center">3</td>
        <td class="content-label">
            <div>
                <label class="content-label">Name of the Merchant</label>
            </div>
            <div>
                <label class="content-label">Address of the Merchant</label>
            </div>
        </td>
        <td class="content-label">
            <div>
                #if($merchantName)
                    <input class="input-box-text" style="width:510px;border:0;" value="$merchantName"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
            <div>
                <input class="input-box-text" style="width:472px;border:0;"/>
            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">4</td>
        <td class="content-label">Product (Brand, Model, etc.)</td>
        <td class="content-label">
            <div>
                #if($productModelDetails)
                    <input class="input-box-text" style="width:510px;border:0;" value="$productModelDetails"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">5</td>
        <td class="content-label">Principal Amount</td>
        <td class="content-label">
            <div>
                #if($revisedPrincipalAmount)
                    <input class="input-box-text" style="width:472px;border:0;" value="$revisedPrincipalAmount"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
        </td>
    </tr>
    <tr>
        <td  class="content-label-center">6</td>
        <td  class="content-label">Tenure</td>
        <td  class="content-label">
            <div>
                #if($tenure)
                    <input class="input-box-text" style="width:472px;border:0;" value="$tenure"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>
                #end
            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">7</td>
        <td class="content-label">Rate of Interest</td>
        <td class="content-label">0%</td>
    </tr>
    <tr>
        <td class="content-label-center">8</td>
        <td class="content-label">Revised EMI (in Rs.)</td>
        <td class="content-label">
            <div>
                #if($revisedEMIInRs)
                    <input class="input-box-text" style="width:472px;border:0;" value="$revisedEMIInRs"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>

                #end
            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">9</td>
        <td class="content-label">No. of Installments / EMIs</td>
        <td class="content-label">
            <div>
                #if($tenure)
                    <input class="input-box-text" style="width:472px;border:0;" value="$tenure"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0;"/>

                #end

            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">10</td>
        <td class="content-label">Mode of Payment of EMIs</td>
        <td class="content-label">
            <div>
                <input class="input-box-text" style="width:472px;border:0;"/>
            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">11</td>
        <td class="content-label">No. of advance installments / EMIs</td>
        <td class="content-label">

            <div>
                #if($noOfAdvanceInstallmentEMI)
                    <input class="input-box-text" style="width:472px;border:0;" value="$noOfAdvanceInstallmentEMI"/>
                #else
                    <input class="input-box-text" style="width:472px;border:0"/>
                #end
            </div>
        </td>
    </tr>
    <tr>
        <td class="content-label-center">12</td>
        <td class="content-label">Rate of Default Interest</td>
        <td class="content-label">2% per annum</td>
    </tr>
    <tr>
        <td class="content-label-center">13</td>
        <td class="content-label">Rate of Prepayment Penalty</td>
        <td class="content-label">NIL</td>
    </tr>
    <tr>
        <td class="content-label-center">14</td>
        <td class="content-label">Cheque Bounce Charges</td>
        <td class="content-label">Rs 200/- + service tax / surcharge</td>
    </tr>
    <tr>
        <td class="content-label-center">15</td>
        <td class="content-label">Late payment penal Charges</td>
        <td class="content-label">3% per month on unpaid EMI</td>
    </tr>
    <tr>
        <td class="content-label-center">16</td>
        <td class="content-label">Swap Charges</td>
        <td class="content-label">Rs 750/- + service tax / surcharge</td>
    </tr>
    <tr>
        <td class="content-label-center">17</td>
        <td class="content-label">SOA Charges</td>
        <td class="content-label">First Time Free ; every subsequent request Rs.200/-</td>
    </tr>
    <tr>
        <td class="content-label-center">18</td>
        <td class="content-label">Stamp Duty and Other Statutory Charges</td>
        <td class="content-label">As per applicable laws of the State</td>
    </tr>
    <tr>
        <td class="content-label-center">19</td>
        <td class="content-label">Legal Charges</td>
        <td class="content-label">At Actuals</td>
    </tr>
    <tr>
        <td class="content-label-center">20</td>
        <td class="content-label">Collection Charges</td>
        <td class="content-label">Rs 200/- per field visit</td>
    </tr>
    <tr>
        <td class="content-label-center">21</td>
        <td class="content-label">Loan Cancellation charges</td>
        <td class="content-label">Rs 1000/-</td>
    </tr>

</table>
<div class="subtitle-label">DECLARATION</div>
<div class="normal-text">
    Signed and Delivered by/ for and on behalf of the Borrower in token of and in witness of having read (and/or being
    explained),verified, understood, irrevocably agreed to, accepted, confirmed and declared all the clauses viz. ____to
    ______on all the page
    no's ____to ___ of the 'CONSUMER DURABLE PRODUCT LOAN' document, the Schedule, all contents thereof including all
    the terms and conditions contained therein, and authenticated accuracy and correctness of the same.
</div>
<div class="top-bottom-space"></div>
<table width="100%">
    <tbody>
    <!--Image-->
    <tr>
        <td width="60%" style="padding:2px">
            <table width="100%">
                <tr>
                    <td width="30%">
                        <label class="normal-text">Mr./ Ms./ M/s.</label>
                    </td>
                    <td width="70">
                        #if($borrowerName)
                            <input class="input-text-no-bold" style="width:335px;text-align:center;"
                                   value="$borrowerName"/>
                        #else
                            <input class="input-text-no-bold" style="width:335px"/>
                        #end
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%"></td>
                    <td width="50">
                        <label class="normal-text">(Borrower)</label>
                    </td>
                </tr>

            </table>
        </td>
        <td width="40%" style="padding:2px;vertical-align:top">
            <table width="100%">
                <tbody>
                <tr>
                    <td width="30%">
                        <label class="normal-text">Signature</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:320px"/>
                    </td>
                </tr>

                </tbody>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%"></td>
                    <td width="50">
                        <label class="normal-text">(Borrower)</label>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    </tbody>
</table>
<div class="top-bottom-space"></div>
<label class="subtitle-label">WITNESS DECLARATION WHERE THE BORROWER SIGNS IN VERNACULAR LANGUAGE:</label>

<div class="normal-text">
    The contents of the Terms and Conditions for Consumer Durable Product Loan, the Schedule and the Declaration have
    been
    explained by me to the Borrower in <input style="width:241px"/>(name of language in which Borrower
    has signed) and the same have been understood by the Borrower.
</div>
<table width="100%">
    <tbody>
    <!--Image-->
    <tr>
        <td width="60%" style="padding:2px">
            <table width="100%">
                <tr>
                    <td width="30%">
                        <label class="normal-text">Mr./ Ms./ M/s.</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:335px"/>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%"></td>
                    <td width="50">
                        <label class="normal-text">(Witness Name)</label>
                    </td>
                </tr>

            </table>
        </td>
        <td width="40%" style="padding:2px;vertical-align:top">
            <table width="100%">
                <tbody>
                <tr>
                    <td width="30%">
                        <label class="normal-text">Signature</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:320px"/>
                    </td>
                </tr>

                </tbody>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%"></td>
                    <td width="50">
                        <label class="normal-text">(Witness)</label>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    </tbody>
</table>
<table width="100%">
    <tbody>
    <tr>
        <td width="50%" style="padding:2px">
            <table width="100%">
                <tr>
                    <td width="50">
                        <input class="input-text-no-bold" style="width:345px"/>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%">
                        <label class="normal-text" style="margin-left:10%">Authorised Signatory
                        </label>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%">
                        <label class="normal-text" style="margin-left:5%">HDB Financial Services Limited
                        </label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="margin-top:90px;margin-bottom:100px;"></div>

<!-- Second Html Page  -->

<div class="title-label" style="text-align: center;"><strong>PROMISSORY NOTE</strong></div>
<div class="normal-text" style="margin-top:50px">
    Rs.
    #if($revisedPrincipalAmount)
        <input class="input-text-no-bold" style="width:329px;padding-left:15px;text-align:center;"
               value="$revisedPrincipalAmount"/>
    #else
        <input class="input-text-no-bold" style="width:329px;padding-left:15px"/>
    #end

</div>

<div class="normal-text" style="margin-top:25px">
    ON DEMAND I/We
    #if($borrowerName)
        <input class="input-text-no-bold" style="width:318px;text-align:center;" value="$borrowerName"/>
    #else
        <input class="input-text-no-bold" style="width:318px"/>
    #end

    promise to pay to HDB Financial Services
    Ltd., or order, the sum of Rs.
    #if($revisedPrincipalAmount)
        <input class="input-text-no-bold" style="width:200px;text-align:center;" value="$revisedPrincipalAmount"/>
    #else
        <input class="input-text-no-bold" style="width:200px"/>
    #end

    ( Rupees
    #if($revisedPrincipalAmtInWords)
        <input class="input-text-no-bold" style="width:500px;text-align:center;" value="$revisedPrincipalAmtInWords"/>)
    #else
        <input class="input-text-no-bold" style="width:330px;text-align:center;"/>)
    #end
    together with interest thereon such sum from this date onwards at a rate of <input class="input-text-no-bold"
                                                                                       style="width:240px"> % per annum
    payable at <input class="input-text-no-bold" style="width:500px">

    <div>
        Presentment for payment and noting and protest of this note are hereby unconditionally and irrevocably
    </div>
</div>
<div style="margin-top:50px"></div>

<table width="100%">
    <tr>
        <td width="50%">
            <table width="100%">
                <tr>
                    <td width="75%">
                    </td>
                    <td width="30">
                        #if($applicantPhoto)
                            <img src="data:image/jpg;base64,$applicantPhoto" width="150" height="150"
                                 alt="Paste Photo here and sign across it such that your Signature is on the photo as well as on the form"
                                 style="margin-left: 10px;border: 1px solid black;"/>
                        #else
                            <img src="" width="150" height="150"
                                 alt="Paste Photo here and sign across it such that your Signature is on the photo as well as on the form"
                                 style="margin-left: 10px;border: 1px solid black;"/>
                        #end

                    </td>
                </tr>
            </table>

        </td>

    </tr>
</table>
<table width="100%" style="margin-top:5px;">
    <tbody>
    <!--Image-->
    <tr>
        <td width="60%" style="padding:2px">
            <table width="100%">
                <tr>
                    <td width="30%">
                        <label class="normal-text">Mr./ Ms./ M/s.</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:300px;text-align:center;"/>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%"></td>
                    <td width="50">
                        <label class="normal-text">(Borrower)</label>
                    </td>
                </tr>

            </table>
        </td>
        <td width="40%" style="padding:2px;vertical-align:top">
            <table width="100%">
                <tbody>
                <tr>
                    <td width="30%">
                        <label class="normal-text">Signature</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:200px"/>
                    </td>
                </tr>

                </tbody>
            </table>
            <div style="margin-top:40px"></div>
            <table width="100%">
                <tr>
                    <td width="100%">
                        <label class="normal-text">Please sign across the Revenue Stamp</label>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    </tbody>
</table>

<div style="margin-top:50px"></div>
<table width="100%">
    <tr>
        <td width="50%">
            <table width="100%">
                <tr>
                    <td width="75%">
                    </td>
                    <td width="30">

                        #if($applicantPhoto)
                            <img src="data:image/jpg;base64,$applicantPhoto" width="150" height="150"
                                 alt="Paste Photo here and sign across it such that your Signature is on the photo as well as on the form"
                                 style="margin-left: 10px;border: 1px solid black;"/>
                        #else
                            <img src="" width="150" height="150"
                                 alt="Paste Photo here and sign across it such that your Signature is on the photo as well as on the form"
                                 style="margin-left: 10px;border: 1px solid black;"/>
                        #end
                    </td>
                </tr>
            </table>

        </td>

    </tr>
</table>
<table width="100%" style="margin-top:5px;">
    <tbody>
    <!--Image-->
    <tr>
        <td width="60%" style="padding:2px">
            <table width="100%">
                <tr>
                    <td width="30%">
                        <label class="normal-text">Mr./ Ms./ M/s.</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:300px;text-align:center;"/>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="50%"></td>
                    <td width="50">
                        <label class="normal-text">(Co-Borrower/Guarantor)</label>
                    </td>
                </tr>

            </table>
        </td>
        <td width="40%" style="padding:2px;vertical-align:top">
            <table width="100%">
                <tbody>
                <tr>
                    <td width="30%">
                        <label class="normal-text">Signature</label>
                    </td>
                    <td width="70">
                        <input class="input-text-no-bold" style="width:200px"/>
                    </td>
                </tr>

                </tbody>
            </table>
            <div style="margin-top:40px"></div>
            <table width="100%">
                <tr>
                    <td width="100%">
                        <label class="normal-text">Please sign across the Revenue Stamp</label>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="margin-top:80px"></div>
<table width="100%" style="margin-top:5px;">
    <tbody>
    <!--Image-->
    <tr>
        <td width="60%" style="padding:2px">
            <table width="100%">
                <tr>
                    <td width="10%">
                        <label class="normal-text">Rs .</label>
                    </td>
                    <td width="90">
                        #if($revisedPrincipalAmount)
                            <input class="input-text-no-bold" style="width:450px" value="$revisedPrincipalAmount"/>
                        #else
                            <input class="input-text-no-bold" style="width:450px"/>
                        #end
                    </td>
                </tr>
            </table>
            <table width="100%" style="margin-top:10px">
                <tr>
                    <td width="10%">
                        <label class="normal-text">Place :</label>
                    </td>
                    <td width="90">
                        #if($branchName)
                            <input class="input-text-no-bold" style="width:450px;" value="$branchName"/>
                        #else
                            <input class="input-text-no-bold" style="width:450px"/>
                        #end
                    </td>
                </tr>
            </table>
            <table width="100%" style="margin-top:10px">
                <tr>
                    <td width="10%">
                        <label class="normal-text">Date :</label>
                    </td>
                    <td width="90">
                        #if($dateOfApplicationInFormat)
                            <input class="input-text-no-bold" style="width:450px" value="$dateOfApplicationInFormat"/>
                        #else
                            <input class="input-text-no-bold" style="width:450px"/>
                        #end
                    </td>
                </tr>

            </table>
        </td>
    <tr>
    <tbody>
</table>
<div style="margin-top:200px;margin-bottom:50px;"></div>

<!-- Page Five -->
    #if($isHdfcBankAccount == 'YES')
    <h3 class="title">
        <ins>CUSTOMER STANDING INSTRUCTION DEBIT AUTHORIZATION FORM</ins>
    </h3>
    <p style="text-align: right; margin-right: 71px;">
        Date:
        #if($dateOfApplicationInFormat)
            <input class="input-text-no-bold" name="date_value" style="width: 180px;text-align: center"
                   value="$dateOfApplicationInFormat">
        #else
            <input class="input-text-no-bold" name="date_value" style="width: 180px;">
        #end
    </p>
    <p style="text-align: right;">Loan Agreement No.<input class="input-text-no-bold" name="loan_no" style="width: 155px;">
    </p>

    <div width="30%">
        <div>
            <label>To,</label>
        </div>
        <div>
            <label>The Branch Manager,</label>
        </div>
        <div>
            <label>HDFC Bank Ltd,</label>
        </div>
        <div>
            <input class="input-text-no-bold" style="width: 250px;">
        </div>
        <div>
            <input class="input-text-no-bold" style="width: 250px;">
        </div>

    </div>

    <p style="margin-top: 24px; margin-bottom: 20px;">Dear Sir/Madam,</p>

    <p>
        I /We, have taken a
        #if($revisedPrincipalAmount)
            <input class="input-text-no-bold"
                   style="width: 175px; padding-bottom: 5px ;padding-left: 6px;text-align: center"
                   value="$revisedPrincipalAmount">
        #else
            <input class="input-text-no-bold" style="width: 175px; padding-bottom: 5px ;padding-left: 6px">
        #end
        loan from HDB Financial Services Ltd. ("HDBFS") and would like to avail of the Direct Debit facility offered by your
        bank to make repayments towards my loan.
    </p>

    <p style="margin-top: 5px;">I, therefore, request you to accept this mandate to debit my Account Number.</p>

    <table>
        <tr>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
            <td class="box"></td>
        </tr>

    </table>
    <div style="margin-top:22px"></div>
    <table class="table-th-new" style="width: 100%;">
        <tr>
            <th class="table-th-new">Name of Product</th>
            <th class="table-th-new">Installment Start Date</th>
            <th class="table-th-new">Installment End Date</th>
            <th class="table-th-new">Periodicity</th>
            <th class="table-th-new">Maximum Amount of installment in Rs.</th>
        </tr>
        <tr>
            <td class="td-new"></td>
            <td class="td-new"></td>
            <td class="td-new"></td>
            <td class="td-new"></td>
            <td class="td-new"></td>
        </tr>
    </table>
    <p style="float:right">
        I/We undertake to keep sufficient funds in the funding account on the date of execution of direct debit. I hereby
        declare
        that the particulars given above are correct and complete. If the transaction is delayed or not effected at all for
        reasons
        of incomplete or incorrect information, I would not hold HDBFS or the Bank responsible. If the date of debit to my/
        our
        account happens to be a non business day, execution of the Direct Debit will happen on the next working day . HDFC
        Bank shall not be liable for, nor be in default by reason of, any failure or delay in completion of its obligations
        under this
        Agreement, where such failure or delay is caused, in whole or in part, by any acts of God, civil war, civil
        commotion, riot,
        strike, mutiny, revolution, fire, flood, fog, war, lightening, earthquake, change of Government policies,
        Unavailability of
        Bank's computer system, force majeure events, or any other cause of peril which is beyond HDFC Bank's reasonable
        control and which has the effect of preventing the performance of the contract by HDFC Bank. I/We acknowledge that
        no separate intimation will be received from HDFC Bank in case of non-execution of the instructions for any reasons
        whatsoever.</p>

    <p style="margin-bottom: 05px;">I/we also understand that failure to repay my loan amount through this Direct Debit
        shall be treated as a default in
        repayment of dues and all charges/penalties/levies as covered by the agreement will hold good towards the
        nonpayment of obligations.</p>

    <p style="margin-bottom: 05px;">Please treat this as an irrevocable communication as an authorization to debit my
        account every month with the
        required amounts towards the repayment of my loan. In the event of the above account getting closed/transferred for
        any reason, I/We will intimate to HDBFS the new account opened with the bank to debit the Loan Repayment
        Amounts as per the agreement.</p>

    <p style="margin-bottom: 5px;">Further, I/We undertake the responsibility to provide the fresh set of Mandate and
        security PDCs for such new account,
        as per terms of the agreement in lieu of existing instructions.</p>

    <div style="margin-top:16px">
        <label>Thanking You,</label>
    </div>
    <div style="margin-bottom:10px">
        <label>Yours truly,</label>
    </div>
    <input style="width: 427px">

    <div>
        <label>(Signature of Account Holder/Joint Account Holders)</label>
    </div>

    <input class="input-text-no-bold" style="width: 427px;margin-top:3px" />

    <div>
        <lable>(Name of Account Holder/Joint Account Holders)</lable>
    </div>

    <hr>
    <div>
        <label style="font-size:16;font-weight: bold;">VERIFIED</label>
    </div>
    <ul type="circle" style="padding-top:0px">
        <li>Customer Account Number</li>
        <li>Customer Signature</li>
        <li>Customer Account Status is Active</li>
        <li>Mode of Operation Verified</li>
    </ul>
    <div>(Seal and Signature of HDFC Bank Ltd Official)</div>
    #end
</body>
</html>