<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en-US">
<head>
    <style>
        tr, th, td {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
<p style="text-align: center">
    <img src="./assets/images/sbfc-logo.png" style="text-align: center" align="center"/>
</p>
<p style="text-align:center"><big><strong><u><h2 style="text-align:center;font-size: 20px">Small Business Fincredit India PVT LTD  Sanction Letter </h2></u></strong></big></p>

<hr style="text-align: center;width: 90%">
<p>Small Business Fincredit India Pvt Ltd</p>

<p>(Erstwhile Mape Finserve Pvt Ltd )</p>

<p>Unit No 762, 6<sup>th</sup> Floor, Building No7,</p>

<p>Solitaire Corporate Park,</p>

<p>Andheri (E), Mumbai - 400093.</p>

<p>Tel. 022-6787 5300</p>

<p>Date:</p>

<p>Applicant Name :&nbsp;&nbsp;&nbsp; $!form.applicant.applicantName.firstName &nbsp;$!form.applicant.applicantName.middleName &nbsp;$!form.applicant.applicantName.lastName  </p>

    #foreach ($coAppl in $form.coApplicantList)
    <p>Co-Applicant Name :$!coAppl.applicantName.firstName &nbsp;$!coAppl.applicantName.middleName &nbsp;$!coAppl.applicantName.lastName</p>
    #end

<p><strong>Address:-&nbsp; &nbsp;</strong>$!form.residentialAddress</p>

<p>Dear Sir / Madam,</p>

<p><u>Sub: Offer letter for loan facility vide Application no. _</u>$!form.refId&nbsp;<u>- Location-&nbsp;</u>$!form.location</p>

<p>Thank you for choosing SBFC Secured Business Loan. We are pleased to inform you that with reference to the above</p>
<table border="1" cellpadding="7" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <p>Type of Loan</p>
        </td>
        <td>
            <p>$!form.typeofloan</p>
        </td>
        <td>
            <p>$!form.typeofloan</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Purpose</p>
        </td>
        <td>
            <p>$!form.loanPurpose</p>
        </td>
        <td>
            <p>$!form.loanPurpose</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Loan Amount Sanctioned</p>
        </td>
        <td>
            <p>Rs. $!form.sanctionAmtBt</p>
        </td>
        <td>
            <p>Rs. $!form.sanctionLoanAmt</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Term of Loan</p>
        </td>
        <td>
            <p>$!form.termOfloans</p>
        </td>
        <td>
            <p>$!form.termOfloans</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Interest type</p>
        </td>
        <td>
            <p>$!form.camSummary.roiType</p>
        </td>
        <td>
            <p>$!form.camSummary.roiType</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Rate of Interest</p>
        </td>
        <td>
            <p>$!form.loanCharges.interestDetails.interestRate</p>
        </td>
        <td>
            <p>$!form.loanCharges.interestDetails.interestRate</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Amount of each EMI</p>
        </td>
        <td>
            <p>Rs $!form.btEmiAmt/- (Payable monthly)</p>
        </td>
        <td>
            <p>Rs$!form.topUpEmiAmt/- (Payable monthly)</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Initial Margin Deposit (non-refundable)</p>
        </td>
        <td>
            <p>Rs&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;/-(Including GST)</p>

        </td>
        <td>
            <p>&nbsp;</p>
            <p>Rs&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;/-(Including GST)</p>

            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Processing Fees (non- refundable)</p>
        </td>
        <td>
            <p>$!form.camSummary.pfPercentage</p>

            <p>&nbsp;</p>

            <p><strong>* Goods and Service tax as applicable shall be payable on fee amount</strong></p>
        </td>
        <td>
            <p>$!form.camSummary.pfPercentage</p>

            <p>&nbsp;</p>

            <p><strong>* Goods and Service tax as applicable shall be payable on fee amount</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Property Details</p>
        </td>
        <td>
            #foreach ($coll in $form.collateralList)
                <p>&nbsp;</p>
                <p>$!coll.address.addressLine1 $!coll.address.addressLine2 $!coll.address.landMark</p>
            #end
        </td>
        <td>
            #foreach ($coll in $form.collateralList)
                <p>&nbsp;</p>
                <p>$!coll.address.addressLine1 $!coll.address.addressLine2 $!coll.address.landMark</p>
            #end
        </td>
    </tr>
    <tr>
        <td>
            <p>Mode of Repayment</p>
        </td>
        <td>
            <p>$!form.applicant.professionIncomeDetails.modeOfPayment</p>
        </td>
        <td>
            <p>$!form.applicant.professionIncomeDetails.modeOfPayment</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Fees on Part Prepayment*</strong></p>
        </td>
        <td>
            <p><strong>3% on amount prepaid. </strong></p>

            <p><strong>No partial Prepayment allowed in loan less than 6 MOB</strong></p>

            <p><strong>* Goods and Service tax as </strong></p>

            <p><strong>applicable shall be payable on fee amount</strong></p>
        </td>
        <td>
            <p><strong>3% on amount prepaid. </strong></p>

            <p><strong>No partial Prepayment allowed in loan less than 6 MOB</strong></p>

            <p><strong>* Goods and Service tax as </strong></p>

            <p><strong>applicable shall be payable on fee amount</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Fees on Full &amp; Final Prepayment</strong><strong>*</strong></p>
        </td>
        <td>
            <p><strong>5% on amount prepaid and on all amounts tendered by the Borrower towards Prepayment of the loan during the last one year from the date of final prepayment.</strong></p>

            <p><strong>No prepayment foreclosure of loan upto 12 MOB</strong></p>

            <p>&nbsp;</p>

            <p><strong>* Goods and Service tax as applicable shall be payable on fee amount</strong></p>

            <p>&nbsp;</p>
        </td>
        <td>
            <p><strong>5% on amount prepaid and on all amounts tendered by the Borrower towards Prepayment of the loan during the last one year from the date of final prepayment. </strong></p>

            <p><strong>No prepayment foreclosure of loan upto 12 MOB</strong></p>

            <p><br />
                &nbsp;</p>

            <p><strong>* Goods and Service tax as applicable shall be payable on fee amount</strong></p>
        </td>
    </tr>
    </tbody>
</table>


<p><br />
    &nbsp;</p>

<p>This offer letter is valid for a period of 30 days from the date of issuance.</p>

<p>The aforesaid rate of interest would be valid for a period of 30 days from date of this sanction letter.*All indirect taxes, duties and levies, including but not limited to interest tax, Goods and services tax, education cess, levied under the applicable laws as may be amended from time to time would be additionally charged.</p>

<p>From the date of first disbursement, you will be required to pay interest / EMI (as Applicable to your loan) till the time your loan is fully repaid.</p>

<p>The aforesaid sanction of the loan will be subject to</p>

<ol>
    <li>
        <p>Sanction is subject to legal clearance.</p>
    </li>
    <li>
        <p>Subjective positive verification reports</p>
    </li>
    <li>
        <p>Accepted Sanction letter by applicant and co applicant.</p>
    </li>
    <li>
        <p>IMD clearance proof to be submitted</p>
    </li>
    <li>
        <p>Security should be fully insured for all risks and our charged should be noted on the policy</p>
    </li>
    <li>
        <p>Goods and Services tax is levied @ 18% on Professional Fees/CERSAI charges/ service charges/Part Payment /Full repayment / fees/ Bounce Charges, etc with effect from the date of enactment of the Goods and Service Tax Bill 2017.</p>
    </li>
    <li>
        <p>Borrower shall inform in writing about the change in address, job, business, profession as the case may be immediately alter such change.</p>
    </li>
    <li>
        <p>The rate of interest is arrived at through SBFC Finance&#39;s interest rate model which takes into account relevant factors such as cost of funds, margin and risk premium. We take a comprehensive approach to the gradation of risk that does not discriminate between classes of borrowers, but rather tailors the interest rate to each loan.</p>
    </li>
    <li>
        <p>All loan Agreement on terms acceptable to the SBFC and other documents in relation shall be executed by the Borrower. The terms in the Loan Agreement shall supersede all previous communications in respect of Finance Facility.</p>
    </li>
    <li>
        <p>Accounts eligible for Top Up / Enhancement only after 12 months seasoning.</p>
    </li>
    <li>
        <p>Foreclosure is allowed only after 12 months. Full repayment not allowed before 12 months.</p>
    </li>
    <li>
        <p>Applicant to give an undertaking stating that he will provide latest financials as and when required by SBFC</p>
    </li>
    <li>
        <p>BT Formalities to be Completed</p>
    </li>
    <li>
        <p>Latest O/s letter of BT Loan along with Foreclosure letter&nbsp; to be submitted.</p>
    </li>
    <li>
        <p>List of document with BT Financiers to be submitted</p>
    </li>
    <li>
        <p>No Link Account Letter from BT Bank/SBFC to be submitted</p>
    </li>
    <li>
        <p>List of docs to be verified with Legal reports.</p>
    </li>
    <li>
        <p>Authority letter to be collect of original document from BT Financiers</p>
    </li>
    <li>
        <p>All Updated Banking required.</p>
    </li>
    <li>
        <p>The instructions issued vide RBI circular DNBS(PD).CC.No.399/03.10.42 /2014-15 on &quot;Levy of foreclosure charges/ pre-payment penalty on Floating Rate Term Loans&quot; are applicable where the principal borrower is an individual. The status of co-borrower is not relevant in such case. Further, the floating rate term loan sanctioned to proprietorship/ partnership firm, even as the principal borrower, should not to be treated at par with individuals as far as extending the benefit of the said circular is concerned. Since the loan is granted to non individual the foreclosure charges will be applicable or Since the Loan is granted as per Fixed rate of Interest the foreclosure charges will be applicable.</p>
    </li>
    <li>
        <p>I authorise the company to submit information related with KYC, security interest, Delays in days, if amount overdue is more than Rs 0, Current Balance, Amount overdue, date closed, etc and such other information as may be required to be submitted by the company in accordance with RBI guidelines or such other regulatory bodies governing over the company like submission of information with CERSAI, Information Utilities, Credit Information Companies, CKYC, etc.</p>
    </li>
    <li>
        <p>The loan is not to be used for any other purpose except for the purpose as mentioned in your application and/or in subsequent discussions/undertaking.</p>
    </li>
    <li>
        <p>The details given by you and the other applicants/ co applicant in the application form are true and correct and there is no material change in the same after making the applicant.</p>
    </li>
    <li>
        <p>SBFC shall be entitle to revoke the Sanction of the Facility, inter-alia in any of the following circumstances:</p>
    </li>
</ol>

<p>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There is any material change in the purpose(s) for which the facility have been sanctioned (&lsquo;the Purpose&rsquo;) .</p>

<p>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the sole judgment of SBFC, any material fact has been concealed and/or become subsequently known.</p>

<p>c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Any statement made by you or your behalf in your application or otherwise, is incorrect, incomplete or misleading. &nbsp;&nbsp;</p>

<p>d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The accepted copy of this letter duly signed by you is not received by SBFC within the specified validity period (30 Days)</p>

<p>e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There is default under or a breach of the terms and conditions of this letter or any other loan / facility offered by SBFC or any other person/entity to you/any of you.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>We look forward to a long lasting relationship with you.</p>

<p>Thanking You,</p>

<p>Yours Sincerely,</p>

<p>Name:$!form.creditSubmit</p>

<p>Designation:</p>

<p>(On behalf of Small Business Fincredit India PVt Ltd )</p>

<p>I / We accept the above terms and conditions</p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
    <tbody>
        #if($form.coApplicantList.size() > 0)
            #foreach ($coAppl in $form.coApplicantList)
            <tr>
                #if ($velocityCount == 1)
                    <td>
                        <p>Applicant Name:&nbsp; $!form.applicant.applicantName.firstName &nbsp;$!form.applicant.applicantName.middleName &nbsp;$!form.applicant.applicantName.lastName</p>

                        <p>Signature:</p>

                        <p>Place:&nbsp;</p>

                        <p>Date:</p>
                    </td>
                #end
                #if ($velocityCount == 1)
                    <td>
                        <p>Co applicant :$!coAppl.applicantName.firstName &nbsp;$!coAppl.applicantName.middleName &nbsp;$!coAppl.applicantName.lastName</p>

                        <p>Signature:</p>

                        <p>Place:&nbsp;</p>

                        <p>Date:</p>
                    </td>

                #end

            </tr>
            #end
            #set($i = 1)
            #set($temp = 1)
            #foreach ($coAppl in $form.coApplicantList)
                #if ($velocityCount != 0 && $i <= $form.coApplicantList.size())
                    #set ($velocityCount = $i)
                #end
            <tr>
                #if ($velocityCount != 0 && $i < $form.coApplicantList.size())
                    <td style="width: 50%;">
                        <p>Co applicant :$!form.coApplicantList[$velocityCount].applicantName.firstName &nbsp;$!form.coApplicantList[$velocityCount].applicantName.middleName &nbsp;$!form.coApplicantList[$velocityCount].applicantName.lastName</p>

                        <p>Signature:</p>

                        <p>Place:&nbsp;</p>

                        <p>Date:</p>
                    </td>
                #end
                #if ($velocityCount != 0 && $i < $form.coApplicantList.size())
                    #set ($i = $velocityCount + 1)
                    #set ($velocityCount = $i)
                #end
                #if ($velocityCount != 0 && $i < $form.coApplicantList.size())
                    <td style="width: 50%;">
                        <p>Co applicant :$!form.coApplicantList[$velocityCount].applicantName.firstName &nbsp;$!form.coApplicantList[$velocityCount].applicantName.middleName &nbsp;$!form.coApplicantList[$velocityCount].applicantName.lastName</p>

                        <p>Signature:</p>

                        <p>Place:&nbsp;</p>

                        <p>Date:</p>
                    </td>
                #end
                #set ($temp = $i + 1)
                #set ($i = $temp)
            </tr>
            #end
        #else
        <tr>
            <td>
                <p>Applicant Name:&nbsp; $!form.applicant.applicantName.firstName &nbsp;$!form.applicant.applicantName.middleName &nbsp;$!form.applicant.applicantName.lastName</p>

                <p>Signature:</p>

                <p>Place:&nbsp;</p>

                <p>Date:</p>
            </td>

        </tr>

        #end


    </tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
Copyright © 2018 by Softcell Software Group. All Rights Reserved

</body>
</html>
