<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en-US">
<head>
    <style type="text/css">
        .delivery {
            text-align: center;

        }

        table.beta {
            border-collapse: collapse;
        }

        .beta th {

            background-color: grey;
            border: 1px solid black;
        }

        .beta td {
            border-collapse: collapse;
            border: 1px solid black;
        }

        h4 {
            text-align: center;
        }

        span {
            display: block;
        }

        body {
            width: 920px;
            height: 1122px
        }

        input {
            border: none;
            border-bottom: 1px solid #181819;
            background: #ffffff;
            margin-bottom: 2px;
            padding-left: 6px;
            font-size: 15px;
        }

        ul {
            list-style-type: none;
        }

        .left-space {
            padding-left: 6px;

        }

        .bold {
            font-weight: bold;
            border-bottom: 1px black;
        }
        .bottom-space{
            margin-bottom: 5px;
        }
    </style>
</head>
<body >
<table>
    <tr style="width: 100%">
        <td>
            <div>
                #if($logoforDO)
                    <img src="data:image/png;base64,$logoforDO" width="275" height="60" alt="" style="margin-left: 10px;margin-top: 10px"/>

                #else
                    <img src="" width="120" height="33" alt="" style="margin-left: 10px;border: 1px solid #00008B;"/>
                #end
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="width: 600px;"></div>
        </td>
        <td style="font-weight: bold;">
            <div>TVS Credit Services Limited</div>
            <div>Jayalakshmi Estates, Third Floor,</div>
            <div>29, Haddows Road, Nungambakkam,</div>
            <div>Chennai,</div>
            <div>Tamil Nadu 600006</div>
            <div>Web:www.tvscredit.co.in</div>
            <div>Phone : 1800 425 3883</div>
            <div>Email: helpdesk@tvscredit.com</div>
            #if($doCreatedDate)
                <p style="padding-top: 8px;margin-bottom:-18px;">Date :
                    <input type="text" name="date_val" style="width: 200px;border :0"
                           value="$doCreatedDate"></p>
            #else
                <p style="padding-top: 8px;margin-bottom:-18px;">Date :
                    <input type="text" name="date_val" style="width: 200px;border :0"></p>
            #end
        </td>
    </tr>
</table>


<h4>
    <ins style="font-size: 17px;">Delivery Order</ins>
</h4>

<table>
    <tr>
        <td style="width: 100%;">

            <div class="bottom-space">
                #if($dealerName)
                    <input type="text" name="vendor" style="width: 400px;border:0" value="$dealerName">
                #else
                    <input type="text" name="vendor" style="width: 400px;border:0">
                #end
            </div>

            <div class="bottom-space">Dear Sir/Madam ,</div>

            <div class="bottom-space"> Sub-Delivery Order -

                #if($subDeliveryOrder)
                    <input type="text" name="vendor" style="width: 400px;border:0" value="$subDeliveryOrder">
                #else
                    <input type="text" name="vendor" style="width: 400px;border:0">
                #end

            </div>

            <div class="bottom-space" >We have sanctioned a loan facility for the purchase of
                #if($ProductAndModelNo)
                    <input class="bold" type="text" name="product" style="width: $ProductAndModelNoSize px;text-align: center;font-size: 12px;" value="$ProductAndModelNo">
                #else
                    <input class="bold" type="text" name="product" style="width: 220px;text-align: center" value="">
                #end
                to our Customer
                #if($customerName)
                    <input class="bold"  type="text" name="customer_name" style="width: $customerNameSize px;text-align: center;font-size: 12px;" value="$customerName">
                #else
                    <input class="bold" type="text" name="customer_name" style="width: 190px;text-align: center;" value="">
                #end
                . Pursuant to the agreement executed by the Customer in our favour with respect to the Loan facility and on the basis of the instructions of  the Customer we are disbursing the following amount in your favour.

            </div>

            <div class="bottom-space"> Kindly arrange the delivery of the Product to the customer at the below address only.

            </div>

            <div class="bottom-space"> Customer Name :

                #if($customerName)
                    <input type="text" name="customer_name" style="width: 600px;border:0" value="$customerName">
                #else
                    <input type="text" name="customer_name" style="width: 600px;border:0">
                #end

            </div>
            <div class="bottom-space">Mobile Number :

                #if($mobileNumber)
                    <input type="text" name="mobile" style="width: 600px;border:0" value="$mobileNumber" >
                #else
                    <input type="text" name="mobile" style="width: 600px;border:0">
                #end
            </div>
            <div class="bottom-space">Customer Address:
                #if($customerAddress)
                    <input type="text" name="customer_address" style="width: 600px;border:0" value="$customerAddress">
                #else
                    <input type="text" name="customer_address" style="width: 600px;border:0">
                #end
            </div>

            <div class="bottom-space">Product Brand :

                #if($productBrand)
                    <input type="text" name="product_brand" style="width: 600px;border:0" value="$productBrand">
                #else
                    <input type="text" name="product_brand" style="width: 600px;">
                #end
            </div>

            <div class="bottom-space">Product Catg & Make :

                #if($productCategoryAndMake)
                    <input type="text" name="product_catg" style="width: 700px;border:0" value="$productCategoryAndMake">
                #else
                    <input type="text" name="product_catg" style="width: 600px;border:0">
                #end

            </div>
            <div class="bottom-space">Product Model :

                #if($productModel)
                    <input type="text" name="product_model" style="width: 600px;border:0" value="$productModel" >
                #else
                    <input type="text" name="product_model" style="width: 600px;border:0">
                #end
            </div>
            <div class="bottom-space">Scheme Code & EMI :

                #if($schemeCode_Desc_emi)
                    <input type="text" name="scheme_code_emi" style="width: 700px;border:0" value="$schemeCode_Desc_emi">
                #else
                    <input type="text" name="scheme_code_emi" style="width: 600px;border:0">
                #end
            </div>
            #if($product=='DPL')
                <div class="bottom-space">IMEI :

                    #if($imeiNumber)
                        <input type="text" name="imeiNumber" style="width: 600px;border:0" value="$imeiNumber">
                    #else
                        <input type="text" name="imeiNumber" style="width: 600px;border:0">
                    #end

                </div>
            #end
        </td>
    </tr>


</table>
<table class="beta">
    <thead>
    <tr>
        <th style="width: 380px;">Details</th>
        <th style="width: 100px;">Amount(Rs)</th>
        <th style="width: 380px;">Deductions by TVS</th>
        <th style="width: 100px;">Amount(Rs)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="padding-left: 6px;">A.<label style="margin-left: 4px">Product Cost</label></td>
        <td style="padding-left: 6px;">
            #if($productCost)
                <input type="text" name="product_cost"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border:0"
                       value="$productCost">
            #else
                <input type="text" name="product_cost"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px;border:0">
            #end
        </td>
        <td style="padding-left: 6px;">1.<label style="margin-left: 4px">Processing Fees</label></td>
        <td style="padding-left: 6px;">
            #if($processingFees)
                <input type="text" name="" style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border:0"
                       value="$processingFees">
            #else
                <input type="text" name=""
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border:0">
            #end
        </td>
    </tr>
    <tr>
        <td style="padding-left: 6px;">B.<label style="margin-left: 4px">Margin Money</label></td>
        <td style="padding-left: 6px;">
            #if($marginMoney)
                <input type="text" name="" style="width: 78px; float: right;direction:RTL;padding-right: 6px;border: 0"
                       value="$marginMoney">

            #else
                <input type="text" name=""
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
        <td style="padding-left: 6px;">2.<label style="margin-left: 4px">Advance EMI</label></td>
        <td style="padding-left: 6px;">
            #if($advanceEmi)
                <input type="text" name=""
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border: 0"
                       value="$advanceEmi">
            #else
                <input type="text" name=""
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
    </tr>
    <tr>
        <td style="padding-left: 6px;">C.<label style="margin-left: px">Finance Amount(A-B)</label></td>

        <td style="padding-left: 6px;">
            #if($financeAmount)
                <input type="text" name="" style="width: 78px; float: right; direction:RTL;padding-right: 6px;border: 0"
                       value="$financeAmount">
            #else
                <input type="text" name=""
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px;border: 0">
            #end
        </td>
        <td style="padding-left: 6px;">3.<label style="margin-left: 4px">Dealer Subvention</label></td>
        <td style="padding-left: 6px;">
            #if($dealerSubvention)
                <input type="text" name="dealerSubvention"
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border: 0"
                       value="$dealerSubvention">
            #else
                <input type="text" name="dealerSubvention"
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
    </tr>
    <tr>
        <td style="padding-left: 6px;">D.<label style="margin-left: 4px">Deductions by TVS</label></td>
        <td style="padding-left: 6px;">
            #if($deductionByTvsc)
                <input type="text" name="deductionByHdbfs"
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border: 0"
                       value="$deductionByTvsc">
            #else
                <input type="text" name="deductionByHdbfs"
                       style="width: 78px; float: right; direction:RTL;padding-right: 6px ;border: 0">
            #end

        </td>
        <td style="padding-left: 6px;">4.<label style="margin-left: 4px">Manufacture Subvention</label></td>
        <td style="padding-left: 6px;">
            #if($mnfcrSubvMbd)
                <input type="text" name="otherCharges"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px;border: 0"
                       value="$mnfcrSubvMbd">
            #else
                <input type="text" name="otherCharges"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
    </tr>
    <tr>
        <td style="padding-left: 6px;"><strong>E.<label style="margin-left: 4px">Total Amount to be collected from the customer (1+2+5+6+B)</label></strong></td>
        <td style="padding-left: 6px;">
            #if($totalAmtCollectedByCus)
                <strong>
                    <input type="text" name="totalAmtCollectedBycus"
                           style="width: 78px; float: right; font-weight: bold;direction:RTL;padding-right: 6px ;border: 0"
                           value="$totalAmtCollectedByCus">
                </strong>
            #else
                <strong>
                    <input type="text" name="totalAmtCollectedBycus"
                           style="width: 78px; float: right; font-weight: bold;direction:RTL;padding-right: 6px ;border: 0">
                </strong>
            #end

        </td>
        <td style="padding-left: 6px;">5.<label style="margin-left: 4px">Other Charges if any</label></td>
        <td style="padding-left: 6px;">
            #if($otherChargesIfAny)
                <input type="text" name="otherCharges"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px;border: 0"
                       value="$otherChargesIfAny">
            #else
                <input type="text" name="otherCharges"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
    </tr>
    <tr>
        <td style="padding-left: 6px;">F.<label style="margin-left: 4px">Net Loan Amount(C-2)</label></td>
        <td style="padding-left: 6px;">
            #if($netFundingAmount)
                <input type="text" name="netFundingAmount"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px;border: 0"
                       value="$netFundingAmount">
            #else
                <input type="text" name="netFundingAmount"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
        <td style="padding-left: 6px;">6.<label style="margin-left: 4px">Extended Warranty + Insurance (DP))</label></td>
        <td style="padding-left: 6px;">
            #if($sumExtWrntAmtInsuranceAmt)
                <input type="text" name="sumExtWrntAmtInsuranceAmt"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px;border: 0"
                       value="$sumExtWrntAmtInsuranceAmt">
            #else
                <input type="text" name="sumExtWrntAmtInsuranceAmt"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
    </tr>
    <tr>
        <td style="padding-left: 6px;">G.<label style="margin-left: 4px">Final Disbursement Amount(C-D)</label></td>
        <td style="padding-left: 6px;">
            #if($finalDisburseAmount)
                <input type="text" name="finalDisburseAmount"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0"
                       value="$finalDisburseAmount">
            #else
                <input type="text" name="finalDisburseAmount"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end
        </td>
        <td style="padding-left: 6px;">Sum of Deductions(1+2+3+5+6)</td>
        <td style="padding-left: 6px;">
            #if($sumOfDeductionByTvsc)
                <input type="text" name="sumOfDeduction"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0"
                       value="$sumOfDeductionByTvsc">
            #else
                <input type="text" name="sumOfDeduction"
                       style="width: 78px; float: right;direction:RTL;padding-right: 6px ;border: 0">
            #end

        </td>
    </tr>
    </tbody>
</table>
<p><strong>
    <ins>Terms</ins>
</strong></p>
<div>
    <div class="bottom-space">- Any amount more than the Final Disbursement Amount is to be collected from the
        customer before release of the Product.</div>
    <div class="bottom-space">- The Final Disbursement Amount would be paid to you on the explicit understanding
        that any sun payable/refundable by you to the</div>
    <div style="margin-bottom:05px;padding-left: 8px">   customer, would be paid/refunded by you, only to us(TVS Credit Services Limited)</div>

    <div class="bottom-space">- Original Financier copy of the Invoice with HYP marked go TVS Credit Services Limited
        , copy of duly receipted Delivery.</div>
    <div style="margin-bottom:05px;padding-left: 8px">   Challan/Invoice/Delivery Receipt/Margin Money Receipt should be sent to TVS Credit Services Limited for processing the Final</div>
    <div style="margin-bottom:05px;padding-left: 8px">   Disbursement Amount</div>

    <div class="bottom-space">- Funded Product should be delivered at the above <STRONG>
        <INS>Customer Address</INS>
    </STRONG> only. Change in the place of delivery will not to be entertained</div>
    <div style="margin-bottom:05px;padding-left: 8px">   at any point of time.</div>
    <div class="bottom-space">- This Delivery Order is valid for 15 days from the date of issue and automatically
        expires unless renewed.It can also be revoked by</div>
    <div style="margin-bottom:05px;padding-left: 8px">   us during it currency before the delivery with intimation to
        you number of days is changed.</div>

    <div class="bottom-space">- Assets where serial number validation is mandatory , Liability of TVS Credit Services Limited arise only after successful
        validation of Serial number.
    </div>
</div>

<div class="bottom-space">
    <strong>
        <ins>Payment Terms</ins>
    </strong>
</div>

<div class="bottom-space">-We shall release the payment as per the agreed terms mutually.</div>

<div class="bottom-space">
    <strong>Note: </strong>
    This is computer generated Delivery Order Signature not required.
</div>

<div align="center">
    <strong>"Jayalakshmi Estates",Third Floor,29,Haddows Road,Nungambakkam,Chennai - 600006</strong>
</div>

</body>
</html>